<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<div class="row justify-content-end">
  <div class="col-lg-2">
    <button (click)="myModal.show()" class="btn btn-ghost-primary"> <i class="fas fa-plus-circle"></i> Crear Pre Alerta</button>
  </div>
</div>
<div class="animated fadeIn">
  <div class="card">
    <!-- <div class="card-header">
      <div class="row justify-content-end">
        <div class="col-lg-2">
          <button class="btn btn-ghost-primary"> <i class="fas fa-plus-circle"></i> Crear Pre Alerta</button>
        </div>
      </div>
    </div> -->

    <div class="card-body">
      <div class="row mb-3">

      <!-- <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10"> -->
      <table class="table table-striped" [mfData]="filterData" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th class="text-center" style="width: 10%">
              <mfDefaultSorter by="masterguide">Id Prealerta <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 10%">
              <mfDefaultSorter by="masterguide">Guía Master <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 10%">
              <mfDefaultSorter by="houseguide">Guía House <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 20%">
              <mfDefaultSorter by="houseguide">Instrucciones de manejo <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 10%">
              <mfDefaultSorter by="leftDate">Fecha de arribo <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 15%">
              <mfDefaultSorter by="status">Estatus <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 10%">
              <mfDefaultSorter by="leftDate">Acciones</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <!-- <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td class="text-right">{{item.age}}</td>
            <td>{{item.city | uppercase}}</td> -->
            <!-- <div class="col status-filter">
              <div class="status-filter__circle"></div>
                <div class="status-filter__text">
                  <p><span class="status-filter__number">1</span> P.AAACESA </p>
                </div>
            </div> -->

            <td class="text-center">{{item.idPreAlerta}}</td>
            <td class="text-center">{{item.masterguide}}</td>
            <td class="text-center">{{item.houseguide}}</td>
            <td class="text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
            <td class="text-center">{{item.leftDate | date: 'dd/MM/yy' }}</td>
            <td class="text-center">
              <div class="col status-filter">
                <!--<div class="status-filter__circle status-filter__circle--{{item.status | statusPipe }}"></div>
                <div class="status-filter__text">
                  <p> {{ item.status }} </p>
                </div>-->
              </div>
            </td>
            <td class="text-center"> <a (click)="detalleModal.show(); verDetalle(item.idPreAlerta);" href="javascript: void(0);"><i class="fas fa-plus-circle"></i> Detalle</a>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!-- Modals -->
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nueva PreAlerta</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Guía Master" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Guía House" />
        </div>
        <div class="form-group">
          <div class="row justify-content-center">
            <button (click)="myModal2.show(); myModal.hide();" class="btn btn-pill btn-primary">Siguiente</button>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
