<ngx-loading [show]="loading"></ngx-loading>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body" [hidden]="getPasword">
                <form #loginForm="ngForm">
                  <h1>Login</h1>
                  <p class="text-muted">Ingresa a tu cuenta</p>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="input-full-width">
                        <mat-label>Correo</mat-label>
                        <input class="text-right" type="text" matInput  [(ngModel)]="email" #emailUser="ngModel" id="emailUser" name="emailUser" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
                        <span matPrefix><i class="icon-user info"></i> &nbsp;</span>
                        <mat-error *ngIf="emailUser.dirty || emailUser.pristine">
                          El formato del campo es <strong>incorrecto</strong>
                        </mat-error>
                        <mat-error *ngIf="emailUser.hasError('required')">
                          El campo Correo es <strong>requerido</strong>
                        </mat-error>
                      </mat-form-field> 
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <mat-form-field class="input-full-width">
                        <mat-label>Contraseña</mat-label>
                        <input class="text-right" type="password" matInput  [(ngModel)]="password" #passwordUser="ngModel" id="passwordUser" name="passwordUser" required>
                        <span matPrefix><i class="icon-lock info"></i> &nbsp;</span>
                        <mat-error *ngIf="passwordUser.dirty || passwordUser.pristine ||passwordUser.hasError('required')">
                          El campo Contraseña es <strong>requerido</strong>
                        </mat-error>
                      </mat-form-field> 
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <mat-checkbox color="primary" [(ngModel)]="checked" #checkedU=ngModel id="checkedU" name="checkedU" required></mat-checkbox>&nbsp;
                      <a href="#" class="link">Acepto Condiciones de uso</a>
                      <div class="mat-form-field-subscript-wrapper mat-error mt-3" *ngIf="!checked || checkedU.hasError('required')">
                        * Es necesario Aceptar las <strong>condiciones de uso</strong>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-6">
                      <button type="submit"  class="btn btn-ghost-links btn-pill" (click)="loginForm.valid ? login() : validar_campos(loginForm._directives)"><i class="fas fa-unlock"></i>&nbsp;Entrar</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link btn-sm danger" (click)="onRecoveryPassword()" >¿Olvidaste tu contraseña?</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-body" [hidden]="!getPasword">
                <form #resetForm="ngForm">
                  <h3>Recupera tu contraseña</h3>
                    <p class="text-muted">Ingresa el correo registrado en tu cuenta</p>
                    <div class="row mt-2">
                      <div class="col-md-12">
                        <mat-form-field class="input-full-width">
                          <mat-label>Correo</mat-label>
                          <input class="text-right" type="text" matInput  [(ngModel)]="recuperaEmail" #recuEmail="ngModel" id="recuEmail" name="recuEmail" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
                          <span matPrefix><i class="icon-envelope-open"></i> &nbsp;</span>
                          <mat-error *ngIf="recuEmail.dirty || recuEmail.pristine">
                            El formato del campo es <strong>incorrecto</strong>
                          </mat-error>
                          <mat-error *ngIf="recuEmail.hasError('required')">
                            El campo Correo es <strong>requerido</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-6">
                        <a href="/login" class="btn btn-link btn-small"><i class="icon-action-undo"></i>&nbsp;Regresar</a>
                      </div>
                      <div class="col-6">
                        <button type="submit"  class="btn btn-ghost-links btn-pill" (click)="resetForm.valid ? resetPassword() : validar_campos(resetForm._directives)"><i class="icon-paper-plane"></i>&nbsp;Enviar</button>
                      </div>
                    </div>
                    <div class="row">
                    <div class="col-12 text-center">
                        
                        <div *ngIf="validar">
                           {{message}}
                        </div>
                        
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                  <div class="col align-self-center mt-5">
                    <img src="/assets/img/brand/logo.png" alt="AACESA">
                    <h2>Bienvenido</h2>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
