<div class="container clearfix">
  <div class="col-md-12">
    <div class="row">
      <form #detailUserForm="ngForm">
        <div class="row">
          <div class="col-lg-10">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                <div *ngIf="editing">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="input-full-width">
                        <input matInput type="text" [(ngModel)]="actualizaUser.Nombre" #nomUser="ngModel" id="nomUser" name="nomUser" placeholder="Nombre" required>
                        <mat-error *ngIf="nomUser.dirty || nomUser.pristine">
                          El campo Nombre es <strong>requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="input-full-width">
                        <input type="text" matInput [(ngModel)]="actualizaUser.Paterno" #paternoUser="ngModel" id="paternoUser" name="paternoUser" placeholder="Apellido Paterno" required>
                        <mat-error *ngIf="paternoUser.dirty || paternoUser.pristine">
                          El campo Paterno es <strong>requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4 ml-auto">
                      <mat-form-field class="input-full-width">
                        <input type="text" matInput [(ngModel)]="actualizaUser.Materno" #maternoUser="ngModel" id="maternoUser" name="maternoUser" placeholder="Apellido Materno" required>
                        <mat-error *ngIf="maternoUser.dirty || maternoUser.pristine">
                          El campo Materno es <strong>requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div *ngIf="!editing">
                  <div title="Click to edit" (click)="edit(value)" tabindex="0" class="inline-edit">
                    Nombre Completo
                    <i class="cui-pencil"></i>
                    {{value}}&nbsp;
                  </div>
                  <label class="block bold">{{nomUser}}</label>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Correo</label>
                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ellipsis">{{mailUser}}</label>
              </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Perfil</label>
                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ellipsis">{{perfilUser}}</label>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div *ngIf="editing">
                  <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Teléfono</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-phone"></i></span>
                    </div>
                    <input #inlineEditControl class="form-control" [required]="required" (blur)="onBlur($event)" [name]="value" [(ngModel)]="value" [type]="type" [placeholder]="telUser" />
                  </div>
                </div>
                <div *ngIf="!editing">
                  <div title="Click para editar" (click)="edit(value)" (focus)="edit(value);" tabindex="0" class="inline-edit">
                      Teléfono
                    <i class="cui-pencil"></i>
                    {{value}}&nbsp;
                  </div>
                  <label class="block bold">{{telUser}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center">
      <button *ngIf="editing" type="button" class="btn btn-pill btn-primary" (click)="actualiza()">Actualizar</button>
    </div>
  </div>
</div>
