<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <mat-form-field class="input-full-width">
            <input matInput [(ngModel)]="filterQuery" type="text" placeholder="Buscar..." />
            <mat-icon matSuffix><i class="fa fa-search"></i></mat-icon>
          </mat-form-field>
        </div>
      </div>
      <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" >
        <mat-tab label="Pre Notificaciones"> 
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource.data | dataFilter : filterQuery" matSort class="mat-elevation-z8">
    
              <!-- Nombre Column -->
              <ng-container matColumnDef="Master">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Master </th>
                <td mat-cell *matCellDef="let element"> {{element.Master}}</td>
              </ng-container>
    
              <!-- House Column -->
              <ng-container matColumnDef="House">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> House </th>
                <td mat-cell *matCellDef="let element"> {{element.House }} </td>
              </ng-container>
    
              <!-- Piezas Column -->
              <ng-container matColumnDef="Piezas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Piezas </th>
                <td mat-cell *matCellDef="let element"> {{element.Piezas}} </td>
              </ng-container>
    
              <!-- Peso Column -->
              <ng-container matColumnDef="Peso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Peso </th>
                <td mat-cell *matCellDef="let element"> {{element.Peso}} </td>
              </ng-container>
    
              <!-- FechaAbandono Column -->
              <ng-container matColumnDef="FechaAbandono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FechaAbandono </th>
                <td mat-cell *matCellDef="let element"> {{element.FechaAbandono}} </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="100"
                            [pageSize]="5"
                            [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </mat-tab>
        <mat-tab label="Notificaciones">  
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource.data | dataFilter : filterQuery" matSort class="mat-elevation-z8">
    
              <!-- Nombre Column -->
              <ng-container matColumnDef="Master">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Master </th>
                <td mat-cell *matCellDef="let element"> {{element.Master}}</td>
              </ng-container>
    
              <!-- House Column -->
              <ng-container matColumnDef="House">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> House </th>
                <td mat-cell *matCellDef="let element"> {{element.House }} </td>
              </ng-container>
    
              <!-- Piezas Column -->
              <ng-container matColumnDef="Piezas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Piezas </th>
                <td mat-cell *matCellDef="let element"> {{element.Piezas}} </td>
              </ng-container>
    
              <!-- Peso Column -->
              <ng-container matColumnDef="Peso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Peso </th>
                <td mat-cell *matCellDef="let element"> {{element.Peso}} </td>
              </ng-container>
    
              <!-- FechaAbandono Column -->
              <ng-container matColumnDef="FechaAbandono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FechaAbandono </th>
                <td mat-cell *matCellDef="let element"> {{element.FechaAbandono}} </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="100"
                            [pageSize]="5"
                            [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
