
table{
    font-size:  0.9em;
}
.table th, .table td {
    border-top: 1px solid #646880;
    color: #07080f;
}
.table thead th {
    border-bottom: 2px solid #646880;
    border-top: none;
    color: #212649;
}
.page-item.active .page-link {
    background-color: #ed0e19 !important;
    border-color: #ed0e19 !important;
    border-radius: 100% !important;
    color: #ffffff;
}
.page-link{
    border-radius: 100% !important;
}

.iconfilt{
    padding-top: 0%;
    padding-left: 5%;
    font-size: 1.3em !important;
    color: #b8bcd6;
    transform: translateY(27%);
}
.bs-datepicker {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    background: #fff;
    box-shadow: 0 0 10px 0 #aaa;
    position: relative;
    z-index: 1;
}

.form-control {
    font-size: 0.75em;   
}

.btn-prealerta {
    background: transparent;
    border-radius: 50px;
    margin: 2px 2px;
    color: white;
    padding: 2px 10px;
}

.btn-circle {
    border-radius: 50%;
    margin-right: 5px;
}

// Utilities
.u-color-primary {
    //TODO change to var $color-primary
    color: #FB600A;
}
.break-word {
    word-break: break-all;
}


// Font size fixes
.card {
    font-size: 0.8rem;
}
.form-control {
    font-size: 0.8rem;
}
.u-small-text  {
    font-size: 0.8rem !important;
}
.detail-text {
    font-size: 0.8rem !important;
    line-height: 1rem;
}


// Fix position for swtich input
.form-switch {
    position: absolute;
    right: 0.5rem;
}

// Consecutive Modal Fix Scroll
.modal { overflow-y: auto !important; }

// Border File Icon
.u-fafile-border .fa-file {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

// Input type="" Fixes
.no-spinners {
    -moz-appearance:textfield;
} 
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
// [type="date"]::-webkit-inner-spin-button { display: none;}
// [type="date"]::-webkit-calendar-picker-indicator { display: none;}

/*Select Input */
.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;    
    overflow: hidden;    

    & select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}  

/* Status Filters Bar */
.status-filter {    
    position: relative;    
    font-size: .8rem;    

    &:not(:last-child) {
        border-right: 2px solid white;  
    }    

    &__number {
        font-weight: bold;
    }

    &__text {
        display: inline-block;
    }    

    &__check {        
        margin-left: .5rem;
    }   

    &__circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;                       
        margin-right: 10px;
        background-color: white;

        &--Aceptada {
            background-color: #2ee836;
        }

        &--Solicitada {
            background-color: #18EDED;            
        }

        &--PAAACESA{
            background-color: #fff500;
        }
        &--PCliente{
            background-color: #ef5500;
        }
        &--Rechazada{
            background-color: #ff0000;
        }
        &--Finalizada{
            background-color: #596df2;
        }
    }
}