<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>      
<div class="row justify-content-end">  
  <div class="col-lg-12 text-right btn-crear">
    <button (click)="openDialog()" class="btn btn-link"> <i class="fas fa-plus-circle"></i> Crear Prealerta</button>    
  </div>          
</div>

<div class="animated fadeIn">
  <div class="card">     
    <div class="card-body">
      
      <!-- Start Busqueda Superior -->
      <div class="row mb-3">
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-3 mb-1">
              <mat-form-field class="input-full-width">
                <input matInput type="text" [(ngModel)]="busquedaModel.Master" [textMask]="{mask: masterMask, guide: false, modelClean: true}" placeholder="Guía Master"/>
              </mat-form-field>
            </div>

            <div class="col-lg-3 mb-1">
              <mat-form-field class="input-full-width">
                <input matInput type="text" [(ngModel)]="busquedaModel.House" placeholder="Guía House"/>
              </mat-form-field>
            </div>

            <div class="col-lg-3 mb-1">
              <mat-form-field class="input-full-width">
                <input matInput type="text" #dp="bsDatepicker" bsDatepicker [(ngModel)]="fechaPrevioSearch" placeholder="Fecha Arribo">                
              </mat-form-field>
            </div>

            <div class="col-lg-3 mb-1 invalid--no-color">
              <mat-form-field class="input-full-width">
                <input matInput type="text" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="rangoFechaSearch" class="rangoFecha" placeholder="Rango de Fecha">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 mb-1">
              <mat-form-field class="input-full-width">
                <input matInput type="text" [(ngModel)]="busquedaModel.Consignatario" placeholder="Consignatario"/>
              </mat-form-field>
            </div>

            <div class="col-lg-3 mb-1">
              <mat-form-field class="input-full-width">
                <input matInput type="text" [(ngModel)]="busquedaModel.Referencia" placeholder="Referencia"/>
              </mat-form-field>
            </div>

            <div class="col-lg-3 mb-1">
              <mat-form-field class="input-full-width">
                <mat-select [(ngModel)]="busquedaModel.ClaveInstruccionManejo" class="" placeholder="Instrucciones de Manejo" #singleSelect>
                  <mat-option>                      
                    <ngx-mat-select-search [(ngModel)]="instruccionesManejoSearch" [placeholderLabel]="'Estatus'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option>Ninguno</mat-option>                    
                  <mat-option *ngFor="let option of instruccionesManejoCatalogo | filterSelect: instruccionesManejoSearch" [value]="option.ClaveInstruccion"> 
                    {{option.Descripcion}}
                  </mat-option>
                </mat-select>                  
              </mat-form-field>
            </div>

            <div class="col-lg-3 mb-1">
              <mat-form-field class="input-full-width">
                <input matInput type="text" [(ngModel)]="busquedaModel.IdPrealerta" placeholder="Id Prealerta"/>
              </mat-form-field>
            </div>
          </div>

        </div>

        <div class="col-lg-3">
          <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 mb-1 align-self-end">
              <button (click)="buscarPrealertas()" style="float:right" class="btn btn-pill btn-primary btn-sm"> <i class="fas fa-search"></i> Buscar</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-7 mb-1 align-self-start">              
              <button (click)="buscaPrealertasNueva()" style="float:right" class="btn btn-pill btn-primary btn-sm"> Nueva Busqueda</button>
            </div>
          </div>
        </div>    
      </div>      
      <!-- End Busqueda Superior -->

      <!-- Start Status Filter Bar -->
      <div class="container">      
        <div class="row justify-content-center mt-5 mb-3">
          <div class="col-lg-12">
            <div class="row align-items-center">

              <div *ngFor="let estado of statusEnum; let i=index" [ngClass]="{'status-filter--active': currentFilterIndex==i}" class="col mb-1 text-center status-filter u-cursor">            
                <div class="status-filter__circle status-filter__circle--{{estado | statusPipe}}"></div>
                <div class="status-filter__text">
                  <label (click)="applyFilter(i)" class="u-cursor">
                    <span class="status-filter__number">({{ countStatus[i] }})</span> {{statusLabels[i]}}
                  </label>
                </div>
              </div>             

              <div [ngClass]="{'status-filter--active': currentFilterIndex==statusEnum.length}"  class="col mb-1 text-center status-filter u-cursor">                          
                <div class="status-filter__text">
                  <label (click)="applyFilter(statusEnum.length)" class="u-cursor">
                    <span class="status-filter__number">({{data.length}})</span> Todos
                  </label>
                </div>              
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- End Status Filter Bar -->


      <!-- Start Data Table -->
      <!-- <div class="table-responsive mat-elevation-z8"> -->
      <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" matSort>
          
            <ng-container matColumnDef="IdPrealerta">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Prealerta </th>
              <td mat-cell *matCellDef="let element">{{element.IdPrealerta}}</td>
            </ng-container>
          
            <ng-container matColumnDef="GuiaMaster">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Guía Master </th>
              <td mat-cell *matCellDef="let element"> {{element.GuiaMaster}} </td>
            </ng-container>
          
            <ng-container matColumnDef="GuiaHouse">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Guía House </th>
              <td mat-cell *matCellDef="let element"> {{element.GuiaHouse}} </td>
            </ng-container>
            
            <ng-container matColumnDef="InstruccionesManejo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Instrucciones Manejo</th>
              <td mat-cell *matCellDef="let element"> {{element.InstruccionesManejo}} </td>
            </ng-container>
            
            <ng-container matColumnDef="FechaArribo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Arribo </th>
              <td mat-cell *matCellDef="let element"> {{element.FechaArribo.split(' ')[0]}} </td>
            </ng-container>

            <ng-container matColumnDef="Consignatario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Consignatario </th>
              <td mat-cell *matCellDef="let element"> {{element.Consignatario}} </td>
            </ng-container>
                        
            <ng-container matColumnDef="Estatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
              <td mat-cell *matCellDef="let element"> 
                <div class="col status-filter">            
                  <div class="status-filter__circle status-filter__circle--{{element.Estatus | statusPipe }}"></div>
                  <!-- <div class="status-filter__text">
                    <p> {{ element.Estatus }} </p>
                  </div> -->
                </div>
              </td>
            </ng-container>
                        
            <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element"> 
                <a class="btn btn-pill btn-ghost-links btn-sm" (click)="detalleModal.show(); verDetalle(element.IdPrealerta);" href="javascript: void(0);"><i class="fas fa-plus-circle"></i> Detalle</a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div> 
      <!-- End Data Table -->

    </div> <!-- End Card Body -->
  </div> <!-- End Card -->
</div>

<!--#region Modal Detalle -->
<div bsModal #detalleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title">Detalle PreAlerta {{ detailData.IdPrealerta }}</h6>
        <button type="button" class="close" (click)="detalleModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container">              
          <div class="row">

            <!--  Start left -->
            <div class="col-12 col-lg-7 col-xl-8">                    
              <div class="card">
                <div class="card-body">
                  <div class="row mb-1">

                    <!-- Start Left Inside -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">  
                      <div class="row">
                        <!-- <div class="col-12 mb-4">
                          <h6 class="modal-title">Detalle PreAlerta {{ detailData.IdPrealerta }}</h6>
                        </div> -->

                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-12">
                          <h5 class="detail-text text-muted">Guía Master </h5>
                          <p class="detail-text">{{detailData.GuiaMaster}}</p>
                        </div>

                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-12">
                          <h5 class="detail-text text-muted">Guía House </h5>
                          <p class="detail-text">{{detailData.GuiaHouse}}</p>
                        </div>

                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-12">
                          <h5 class="detail-text text-muted">Consignatario a Facturar</h5> 
                          <p class="detail-text">{{detailData.Consignatario}}</p>
                        </div>

                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-12">
                          <h5 class="detail-text text-muted">Método de Pago</h5>
                          <p class="detail-text">{{detailData.MetodoPago}}</p>
                        </div>

                        <div class="col-12">
                          <h5 class="detail-text text-muted">Condición de Alamacenaje</h5>
                          <p class="detail-text">{{detailData.CondicionAlmacenaje}}</p>
                        </div>     
                      </div>                                                 
                    </div>  
                    <!-- End Left Inside -->

                    <!-- Start Right Inside -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                      <div class="row justify-content-end">
                        <div class="col-6 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                          <div class="referencia">
                            <h5 class="detail-text">Referencia: {{detailData.Referencia}}</h5>
                          </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                          <h5 class="detail-text text-muted">Estatus</h5>
                          <div class="col status-filter">
                            <div class="status-filter__circle status-filter__circle--{{detailData.Estatus | statusPipe }}">
                            </div>
                            <div class="status-filter__text">
                              <p> {{detailData.Estatus}} </p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                          <h5 class="detail-text text-muted">Piezas </h5>
                          <p class="detail-text">{{detailData.Piezas}}</p>
                        </div>

                        <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                          <h5 class="detail-text text-muted">Peso</h5>
                          <p class="detail-text">{{detailData.Peso}} Kg</p>
                        </div>

                        <div class="col-6 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                          <h5 class="detail-text text-muted">Uso de CFDI</h5>
                          <p class="detail-text">{{detailData.UsoCFDI}}</p>
                        </div>                              
                      </div>

                      <div class="row">
                        <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                          <h5 class="detail-text text-muted">Fecha de Arribo</h5>
                          <p class="detail-text">{{detailData.FechaArribo}}</p>
                        </div>
                        <div class="col-6 col-sm-3 col-md-3 col-lg-4 col-xl-3">
                          <h5 class="detail-text text-muted">Consolidado</h5>
                          <p class="detail-text">{{detailData.Consolidado ? 'Sí' : 'No' }}</p>
                        </div>
                        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-5">
                          <h5 class="detail-text text-muted">Almacén de Origen</h5>
                          <p class="detail-text">{{detailData.AlmacenOrigen}}</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                          <h5 class="detail-text text-muted">Rango de Temperatura</h5>
                          <p class="detail-text">{{detailData.RangoTemperatura}}</p>
                        </div>   
                        
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                          <h5 class="detail-text text-muted">Instrucciones de Manejo</h5>
                          <p class="detail-text">{{detailData.InstruccionesManejo}}</p>
                        </div>   
                      </div>
                      
                    </div>
                    <!-- End Right Inside -->
                    
                  </div>                                                                                                                                                                 

                  <hr class="dividerb">

                  <div class="row mb-3">                
                    <div *ngFor="let file of detailData.Documentos" class="col col-lg-3">                        
                      <!-- <h1 (click)="openDocument(file.IdDocumento)" style="font-size: 5rem; text-align: center"><i class="fas {{file.NombreDocumento | fileIconPipe}}"></i></h1> -->
                      <img (click)="openDocument(file.IdDocumento)" class="file__icon" src="../../../assets/img/iconos/{{file.Estatus | fileIconStatusPipe}}" />                            
                      <p style="word-break: break-all; text-align: center" class="detail-text">{{file.NombreDocumento}}</p>                      
                    </div>                      
                  </div>
                </div> <!-- End Card-Body-->
              </div> <!-- End Card-->
            </div>
            <!--  End left -->

            <!-- Start Rigth -->                  
            <div class="col-12 col-lg-5 col-xl-4">
              <div class="card">
                <div class="card-body">                      
                  <div class="row mb-1">
                    <!-- <div class="col-12 mb-2">
                      <button type="button" class="close" (click)="detalleModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div> -->

                    <div class="col-12">
                      <h6>Estatus Transferencia</h6>                        
                    </div>                                    
                    <div class="col-12">
                      <h5 class="detail-text">Fecha de Solicitud</h5>
                      <p class="detail-text">{{detailData.FechaCreacion}}</p>                    
                    </div>    

                    <div class="col-12">
                      <h6>Transferencia</h6>                        
                    </div>   
                    <div *ngFor="let estado of estatusTransferencia" class="col-12">   
                      <div class="row justify-content-start">
                        <div class="col-7 text-left">
                          <!-- <div class="status-filter__circle status-filter__circle--Solicitada"></div> -->
                          <div class="status-filter__circle status-filter__circle--{{estado.Estado | statusPipe }}"></div>
                          <div class="status-filter__text">
                            <p class="detail-text">{{estado.Estado}}</p>
                          </div>                        
                        </div>
                        <div class="col-4 text-left">
                          <h5 class="detail-text">{{estado.Fecha.split(' ')[0] }}</h5>                        
                        </div>
                      </div>                      
                    </div>                             
                    
                    <div class="col-12">
                      <hr class="dividerb">
                    </div>                           

                    <div class="col-12">
                      <h6>Pre Alerta</h6>                        
                    </div>                                                                 

                    <div *ngIf="detailData.EstatusDisponibles?.length" class="col-sm-12 col-md-12 col-lg-12 mb-1">
                      <mat-form-field class="input-full-width">         
                        <textarea matInput class="form-control" rows="2" [(ngModel)]="modelSeguimiento.Comentarios" placeholder="Comentario" style="margin-bottom: 1em;"></textarea>                       
                      </mat-form-field>

                      <div class="row justify-content-end">
                        <div class="col-lg mb-1 text-right">
                          <label for="file-multiple-input">                                  
                            <div class="btn btn-pill btn-primary btn-sm"><i class="fa fa-upload"></i> Subir Documento</div>
                          </label>
                          <input (change)="onFileChanged($event)" style="display: none;" id="file-multiple-input" multiple="" type="file">
                        </div>                                
                      </div>
                      
                      <div class="row mb-3">                
                        <div *ngFor="let documento of modelSeguimiento.Documentos; let in=index" class="col-3 col-sm-3 col-md-3 col-lg-3">                                      
                          <div (click)="removeDocument(in)" class="file__btn-close"><span>&times;</span></div>
                          <div>
                            <!-- <div (click)="removeDocument(in)" style="height: 30px;" class="file__btn-close align-text-bottom"><span>&times;</span></div> -->
                            <!-- <div style="font-size: 2rem; text-align: center"><i class="fas fa-file-pdf"></i></div>                   -->
                            <img class="file__icon file__icon--xs" src="../../../assets/img/iconos/{{Pendiente | fileIconStatusPipe}}" />
                            <p style="word-break: break-all; text-align: center">{{documento.NombreDocumento}}</p>                                                                          
                          </div>                                                                                                                                                          
                        </div>                      
                      </div>                              
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                      <div class="row justify-content-end">
                        <div *ngFor="let estado of detailData.EstatusDisponibles" class="col-lg mb-2 text-right">
                          <button (click)="updateSeguimiento(estado)" class="btn btn-pill btn-primary btn-sm">{{estado | seguimientoAccionesPipe}}</button>
                        </div>
                      </div>                                
                    </div>

                    <!-- Seguimiento -->                          
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">                                                            
                      <mat-accordion>

                        <mat-expansion-panel *ngFor="let item of detailData.Seguimiento?.slice().reverse()">
                          <mat-expansion-panel-header>
                            <div class="col status-filter">            
                              <div class="status-filter__circle status-filter__circle--{{item.Estatus | statusPipe }}"></div>
                              <div class="status-filter__text"><p> {{item.Estatus}} </p></div>
                              <p class="detail-text" style="display: inline; padding-left: 5px;">{{item.Fecha.split(' ')[0] }}</p>                                      
                            </div>                                                                                                              
                          </mat-expansion-panel-header>
                          <p class="detail-text">{{item.Usuario}}</p>
                          <p class="detail-text">{{item.Comentarios}}</p>                                  
                        </mat-expansion-panel>

                      </mat-accordion>                                
                    </div>
                                                                              
                  </div>
                </div> <!-- End Card-Body -->
              </div> <!-- End Card -->
            </div>
            <!--  End Rigth -->

          </div> <!-- End Row -->
        </div> <!-- End Container -->                                                                                                

      </div> <!-- /.modal-body -->                                                  
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--#endregion End Modal Detalle -->
<ng2-pdfjs-viewer #externalPdfViewer [externalWindow]="true"></ng2-pdfjs-viewer>