<ngx-loading [show]="loading"></ngx-loading>
<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', alt: 'Almacenes Fiscalizados -- Inicio'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'Almacenes Fiscalizados -- Inicio'}"
  [sidebarToggler]="false"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false">
  
  
  <span class="label label-default d-none d-lg-block small mr-auto ml-3">Bienvenido! {{user}} <small class="text-muted d-none d-lg-block">Última sesión {{lastTime}}</small> </span>
  <span class="label label-default d-none d-lg-block small ml-3"><small class="text-muted">Sesión actual {{logTime | date:'dd/MMM/y'}} &nbsp;|&nbsp;hora {{logTime | date:'h:mm a'}}</small></span>
  <ul class="nav navbar-nav">
    <li class="nav-item dropdown d-md-down-none" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>You have 5 notifications</strong></div>
        <a href="#" class="dropdown-item">
          <i class="icon-user-follow text-success"></i> New user registered
        </a>
        <a href="#" class="dropdown-item">
          <i class="icon-user-unfollow text-danger"></i> User deleted
        </a>
        <a href="#" class="dropdown-item">
          <i class="icon-chart text-info"></i> Sales report is ready
        </a>
        <a href="#" class="dropdown-item">
          <i class="icon-basket-loaded text-primary"></i> New client
        </a>
        <a href="#" class="dropdown-item">
          <i class="icon-speedometer text-warning"></i> Server overloaded
        </a>
      </div>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <span class="icon-options-vertical"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>{{ rolUser }}</strong></div>
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="" (click)="redirect('bitacoras')" ><i class="icon-note"></i>Bitácora</a>
        <div class="dropdown-divider" *ngIf="rolUser == 'ADMIN' || rolUser == 'MAESTRO' "></div>
        <a class="dropdown-item" *ngIf="rolUser == 'ADMIN' || rolUser == 'MAESTRO' " [routerLink]="" (click)="redirect('adminuser')" ><i class="aaa-maintenance"></i> Admin de usuarios</a>
        <div class="dropdown-divider  d-sm-block d-lg-none" *ngIf="rolUser != 'OPERACION' "></div>
        <a class="dropdown-item  d-sm-block d-lg-none" *ngIf="rolUser != 'OPERACION'" [routerLink]="" (click)="redirect('calculadora')" ><i class="icon-people"></i> Cálculo Maniobras</a>
        <div class="dropdown-divider" *ngIf="rolUser != 'OPERACION'"></div>
        <a class="dropdown-item" href="#" (click)="closeSession()"><i class="cui-account-logout"></i> Salir</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="false" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] ></app-sidebar-nav>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>

      <!-- Panel Flotanta -->
      <div *ngIf="rolUser != 'OPERACION' " (click)="toogleCalc=!toogleCalc" [ngClass]="{'floating__panel-close2-btn--hide': toogleCalc}" class="floating__panel-close2-btn"><i class="fas fa-calculator"></i></div>            
      <div *ngIf="rolUser != 'OPERACION' " [ngClass]="{'floating__backdrop': toogleCalc}"></div>

      <div *ngIf="rolUser != 'OPERACION'" [ngClass]="{'floating__panel--active': toogleCalc}" class="floating__panel">
        <div (click)="toogleCalc=!toogleCalc" [ngClass]="{'floating__panel-close-btn--hide': !toogleCalc}" class="floating__panel-close-btn"><i class="fas fa-calculator"></i></div>          
        <div class="container-fluid">
          <app-calculdora></app-calculdora>
        </div><!-- /.Conatiner  -->
      </div><!-- /.Panel flotante  -->
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <div class="container footer-container text-center text-md-left mt-3">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-5 border-right border-white">
        <!-- Content -->
        <p class="texto text-justify">La mayor infraestructura  en Cadena de Frío en la Aduana del Aeropuerto Internacional de la Ciudad de México.</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-1 mr-1">
        <h6><strong>Servicios</strong></h6>
        <ul class="dash">
          <li>Prealertas</li>
          <li>Previos</li>
          <li>Salidas</li>
          <li>Exportación</li>
          <li>Finanzas</li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-1">
        <h6><strong>&nbsp;</strong></h6>
        <ul class="dash">
          <li>Consulta de mercancías</li>
          <li>Abandono</li>
          <li>Bitácora</li>
          <li>Admin de Usuarios</li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-2">
        <h6><strong>Contacto</strong></h6>
        <p><strong>Teléfono</strong> <br><br><a class="link-footer" href="tel:015551333100"> (01 55) 51 33 31 00 </a> </p>
        <p><strong>Atención a clientes</strong><br><br>
        <a class="link-footer" href="http://buzon.aaacesa.com.mx/Registrar.aspx"> <p>Buzón</p></a>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-2">
        <h6><strong>Correos</strong></h6>
        <ul class="list-unstyled">
          <li><a class="link-footer" href="mailto:clientes@aaacesa.com.mx">clientes@aaacesa.com.mx</a></li>
          <li><a class="link-footer" href="mailto:ventas@aaacesa.com.mx">ventas@aaacesa.com.mx</a></li>
          <li><a class="link-footer" href="mailto:facturación@aaacesa.com.mx">facturacion@aaacesa.com.mx</a></li>
          <li><a class="link-footer" href="mailto:juridico@aaacesa.com.mx">juridico@aaacesa.com.mx</a></li>
          <li><a class="link-footer" href="mailto:credito@aaacesa.com.mx">, credito@aaacesa.com.mx</a></li>
        </ul>
        <div class="text-center">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm mx-1" href="https://www.facebook.com/GrupoAaacesa/?modal=admin_todo_tour" >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm mx-1" href="twitter.com/AAACESA_AF">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item" href="https://www.linkedin.com/company/grupo-aaacesa/?viewAsMember=true">
                <a class="btn-floating btn-sm mx-1">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</app-footer>