.cardborder{
    border: 2px solid #0c0d1a;
    border-radius: 0.7em;
    box-shadow: 3px 4px 3px #0c0d1a;
}
.alined .mat-form-field-infix{
   border-top: 0px !important; 
   padding: 0 !important; 
   width: auto;
}