<div class="row ml-1 mt-3">
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <span class="label label-default d-none d-lg-block small ml-3">Calcula el costo de  las maniobras, los datos marcados con * son obligatorios</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span class="label label-default d-none d-lg-block small mr-auto ml-3"><small class="text-muted">Ingresa los datos solicitados a continuación.</small></span>
          </div>
        </div><!-- end ROW -->
        <div class="row">
          
        </div>
      </div><!-- Card Body -->
    </div><!-- Card -->
  </div><!--END Card calculadora -->


<div class="col-sm-12 col-md-4 col-lg-4">
<div class="animated fadeIn">
  <div class="card" style="padding: 2%">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col">
          <div class="row">
            <h6>Cálculo de Maniobras</h6>
          </div>
          <ng-template ngFor let-calculo [ngForOf]="calculos" let-i="index">
              <div *ngIf="!frio" class="row">
                  <div class="col-6">
                    {{calculo}}
                  </div>
                  <div class="col-6">
                    <mat-form-field class="alined">
                      <input matInput type="number" class="form-control" placeholder="0" disabled>
                      <span matPrefix>$&nbsp;</span>
                      <span matSuffix>.00</span>
                    </mat-form-field>
                  </div>
              </div>
          </ng-template>
          <ng-template ngFor let-calcfrio [ngForOf]="calcfrios" let-i="index">
              <div *ngIf="frio" class="row">
                  <div class="col-6">
                    {{calcfrio}}
                  </div>
                  <div class="col-6">
                    <mat-form-field class="alined">                   
                      <input matInput type="number" class="form-control" placeholder="0" disabled>
                      <span matPrefix>$&nbsp;</span><span matSuffix>.00</span>
                    </mat-form-field>
                  </div>
              </div>
          </ng-template>          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>