<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<div class="animated fadeIn">
    <div>  
        <button mat-button (click)="dia()" style="color:#CF0A2B">Día</button>
        <button mat-button style="color:#CF0A2B">Semana</button>
        <button mat-button style="color:#CF0A2B">Mes</button>
    </div>
      <br>
  <div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      
      <div *ngFor="let elemento of summarys">
        <app-general-summary [summary]="elemento"></app-general-summary>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
      <div class="row" style="margin-bottom:20px; margin-right: 0">
        <mat-card class="noticias">
        <mat-card-header><mat-card-subtitle>Noticias</mat-card-subtitle></mat-card-header>
        <img class="img-fluid" style="height:240px; width:400px" routerlink="http://www.aaacesa.com.mx/Aaacesa/Noticias" src="http://www.aaacesa.com.mx/Content/images/new-noticia-CadenaFrio.jpg" />
        <mat-card-content><br><p>AAACESA, a la vanguardia en infraestructura en cade de frio.</p></mat-card-content>
        </mat-card>
       <!--  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <p>Noticias</p>
          <img class="img-fluid" style="height:220px, width:400px" src="http://www.aaacesa.com.mx/Content/images/new-noticia-CadenaFrio.jpg" />
          <p><b>AAACESA, a la vanguardia en infraestructura en cade de frio.</b></p>
        </div> -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <!-- <img class="img-fluid" src="https://via.placeholder.com/400x220" /> -->
          <mat-card class="img">
            <div class="row">
              <div class="first-img col-lg-12">
              <img class="img-fluid" style="height:340px; width:400px" routerlink="http://www.aaacesa.com.mx/Aaacesa/Noticias" src="http://www.aaacesa.com.mx/Content/images/montacargas-rfdi.jpg" />
            </div>
            <!-- <div class="second-img col-lg-8">
              <img class="img-fluid" style="height:140px; width:370px; border: 1px" src="https://upload.wikimedia.org/wikipedia/commons/e/ec/AICM_logo.jpg" alt="">
            </div> -->
            </div>  
            </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <div class="card">
            <div class="card-body">
              <div class="chart-wrapper">
                <!--<canvas baseChart class="chart"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>-->
                <canvas id="bar-chart-summary" height="298"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding: 5px 5px 5px 15px">
                  <small style="font-size:11px; font-weight:bold">Master</small>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding: 5px 5px 5px 5px">
                  <small style="font-size:11px; font-weight:bold">House</small>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding: 5px 5px 5px 5px">
                  <small style="font-size:11px; font-weight:bold">Fecha</small>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding: 5px 15px 5px 5px">
                  <small style="font-size:11px; font-weight:bold">Status</small>
                </div>
              </div>
              <div class="col-xs-12" style="color:aqua"><mat-divider></mat-divider></div>
              <div class="row" *ngFor="let merch of merchant; let i = index">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding: 15px 5px 15px 15px">
                  <small class="info-box-text" style="font-size:10px;">{{merch.master}}</small>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding: 15px 5px 15px 5px">
                  <small class="info-box-text" style="font-size:10px;">{{merch.house}}</small>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" style="padding: 15px 5px 15px 5px">
                  <small class="info-box-text" style="font-size:10px;">{{merch.date}}</small>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center" style="padding: 15px 15px 15px 5px">
                  <small class="info-box-text" style="font-size:10px; font-weight:bold; color:#0AA010" *ngIf="merch.status == 'Transfer'">{{merch.status}}</small>
                  <small class="info-box-text" style="font-size:10px; font-weight:bold; color:#E2DA0C" *ngIf="merch.status == 'Salida'">{{merch.status}}</small>
                  <small class="info-box-text" style="font-size:10px; font-weight:bold; color:#FB600A" *ngIf="merch.status == 'Previo'">{{merch.status}}</small>
                  <small class="info-box-text" style="font-size:10px; font-weight:bold; color:#CF0A2B" *ngIf="merch.status == 'Abandono'">{{merch.status}}</small>
                </div>

              </div>
              <div class="col-xs-12" style="color:aqua; margin-bottom:14px"><mat-divider></mat-divider></div>
              <div class="col-xs-12 text-center"><a href="./mercancias" style="color:#6976D2">Ver todo</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
