<div class="info-box">
  <span class="info-box-icon {{summary.color}}"></span>
  <div class="info-box-content">
    <div class="row">
      <div class="col-xs-12 col-lg-4 text-center" style="padding:0;">
        
        <span class="info-box-text"><h5>{{summary.tipo}}</h5></span>
        <span class="info-box-number">50</span>
        
      </div>
      <div class="col-xs-12 col-lg-4" style="padding:0">
        <br>
        <span class="info-box-text text-left" style="padding:50% 0 0 0">Solicitudes</span>
      </div>
     <!--  <div class="col-xs-12 col-lg-4 text-center" style="padding:0;">
        <span class="info-box-text text-center" style="padding:40% 0 0 0"><i class="fas fa-plus-circle fa-3x"></i></span>        
      </div> -->
    </div>
  </div>
  <!-- /.info-box-content -->
</div>
