.bg-red {
  background-color: #CF0A2B !important;
}

.bg-orange {
  background-color: #FB600A !important;
}

.bg-yello {
  background-color: #E2DA0C !important;
}

.bg-green {
  background-color: #0AA010 !important;
}
