<ngx-loading [show]="loading"></ngx-loading>
<div mat-dialog-title>
  <div class="row justify-content-between">
    <div class="col">
        <h5> Nuevo Usuario </h5>
    </div>  
    <div class="col">
      <button mat-dialog-close type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
<mat-dialog-content class="mat-typography" *ngIf="!visible">
  <div class="container mt-3 mb-5" *ngIf="!final">
    <div class="row">
      <div class="col">
        <form #creaUserForm="ngForm">
          <div class="container">
            <div class="row mt-3">
              <div class="col-md-4">
                <mat-form-field class="input-full-width">
                  <input type="text" matInput [(ngModel)]="crearUser.RFC" #rfcUserT="ngModel" id="rfcUserT" name="rfcUserT" readonly value="rfcUser" >
                  <span matPrefix>RFC:&nbsp;</span>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="input-full-width">
                  <input type="text" matInput [(ngModel)]="crearUser.ClavePatente" #patenteU="ngModel" id="patenteU" name="patenteU" readonly>
                  <span matPrefix>Patente:&nbsp;</span>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" [(ngModel)]="crearUser.Nombre" #nomUser="ngModel" id="nomUser" name="nomUser" placeholder="Nombre" required>
                  <mat-error *ngIf="nomUser.dirty || nomUser.pristine">
                    El campo Nombre es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="input-full-width">
                  <input type="text" matInput [(ngModel)]="crearUser.Paterno" #paternoUser="ngModel" id="paternoUser" name="paternoUser" placeholder="Apellido Paterno" required>
                  <mat-error *ngIf="paternoUser.dirty || paternoUser.pristine">
                    El campo Paterno es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 ml-auto">
                <mat-form-field class="input-full-width">
                  <input type="text" matInput [(ngModel)]="crearUser.Materno" #maternoUser="ngModel" id="maternoUser" name="maternoUser" placeholder="Apellido Materno" required>
                  <mat-error *ngIf="maternoUser.dirty || maternoUser.pristine">
                    El campo Materno es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-4 styled-select">
                <mat-form-field class="input-full-width">
                  <select matNativeControl [(ngModel)]="crearUser.Perfil.ClavePerfil" #selPerfilUser="ngModel" name="selPerfil" required placeholder="Perfil">
                    <option label="--Selecciona el perfil --">--Selecciona el perfil --</option>
                    <option *ngFor="let rol of getPerfilUser" [value]="rol.ClavePerfil">{{rol.ClavePerfil}} : {{ rol.DescripcionPerfil}} </option>
                  </select>
                  <mat-error *ngIf="selPerfilUser.hasError('required')">
                    El campo Perfil es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="input-full-width">
                  <input type="text" matInput  [(ngModel)]="crearUser.Correo" #emailUser="ngModel" id="emailUser" name="emailUser" placeholder="Correo: nombre@sitio.com" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
                  <mat-error *ngIf="emailUser.dirty || emailUser.pristine">
                    El formato del campo es <strong>incorrecto</strong>
                  </mat-error>
                  <mat-error *ngIf="emailUser.hasError('required')">
                    El campo Correo es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field> 
              </div>
              <div class="col-md-4">
                <mat-form-field class="input-full-width">
                  <input type="text" matInput [(ngModel)]="crearUser.Telefono" #telefonoUser="ngModel" id="telefonoUser" name="telefonoUser" placeholder="Teléfono"  [textMask]="{mask: phoneMask, guide: false, modelClean: true}" pattern="^\(?([0-9]{3})\)?[ ]?([0-9]{3})[-]?([0-9]{4})$" required>
                  <mat-error *ngIf="telefonoUser.dirty || telefonoUser.pristine">
                    El campo Teléfono es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col text-right">
                <button type="submit"  class="btn btn-primary btn-pill btn-sm" (click)="creaUserForm.valid ? guardaUsuario() : validar_campos(creaUserForm)">Crear nuevo usuario</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container mt-3 mb-5" *ngIf="final">
    <div class="row">
      <div class="col">
        {{ mensaje }}
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-content class="mat-typography" *ngIf="visible">
  <div class="container mt-3" *ngIf="!final">
    <form #buscaUserForm="ngForm">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <input matInput type="text" [(ngModel)]="rfcCliente" #rfcCli="ngModel" id="rfcCli" name="rfcCli" placeholder="RFC del Cliente" required>
              <mat-error *ngIf="rfcCli.dirty || rfcCli.pristine">
                El campo RFC es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4 text-left">
            <button type="submit" class="btn btn-primary btn-pill btn-sm" (click)="buscaUserForm.valid ? buscaRFCUsuario() : validar_campos(buscaUserForm)"><i class="fas fa-search"></i>&nbsp;Buscar</button>
          </div>
        </div>
        <div class="row  mt-4"  *ngIf="rfcVisible">
          <div class="col-md-6">
            <mat-form-field class="input-full-width">
              <select matNativeControl [(ngModel)]="RFCcliente" #selgetRFCc="ngModel" name="selgetRFCc" id="selgetRFCc" required placeholder="Seleccione un cliente">
                <option label="--Selecciona un cliente --" [ngValue]="0">--Selecciona un cliente --</option>
                <option *ngFor="let item of getRFCcliente" [ngValue]="item">Razón:&nbsp;{{item.RazonSocial}}&nbsp;|&nbsp;RFC:&nbsp;{{ item.RFC}} </option>
              </select>
              <mat-error *ngIf="selgetRFCc.hasError('required')">
                El campo RFC Cliente es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4 text-center">
            <button type="submit" class="btn btn-primary btn-pill btn-sm" (click)="crearUserByAdmin(selgetRFCc.value)" >Siguiente</button>
          </div>
        </div>
        <div class="row mt-3 align-items-center">
          
        </div>
      </div>
    </form>
  </div>
  <div class="container mt-3 mb-5" *ngIf="final">
    <div class="row">
      <div class="col">
        {{ mensaje }}
      </div>
    </div>
  </div>
</mat-dialog-content>