<ngx-loading [show]="loading"></ngx-loading>
<div class="container">
  <!-- <div class="row justify-content-end" *ngIf="numCuentas && rolUser"> -->
  <div class="row justify-content-end">
    <div class="col-lg-6 col-md-6 col-xs-6 text-right">
      <button (click)="crearUser()" class="btn btn-link-primary"> <i class="fas fa-plus-circle"></i> Crear Usuario</button>
    </div>
  </div>
</div>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <mat-form-field class="input-full-width">
            <input matInput (keyup)="applyFilter($event.target.value)" type="text" placeholder="Buscar..." />
            <mat-icon matSuffix><i class="fa fa-search"></i></mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <!-- Nombre Column -->
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.Nombre}} {{element.Paterno}} {{element.Materno}} </td>
          </ng-container>

          <!-- Telefono Column -->
          <ng-container matColumnDef="Telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
            <td mat-cell *matCellDef="let element"> {{element.Telefono}} </td>
          </ng-container>

          <!-- Correo Column -->
          <ng-container matColumnDef="Correo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.Correo}} </td>
          </ng-container>

          <!-- Perfil Column -->
          <ng-container matColumnDef="ClavePerfil">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ClavePerfil </th>
            <td mat-cell *matCellDef="let element"> {{element.Perfil["ClavePerfil"]}} </td>
          </ng-container>

          <!-- Activo Column -->
          <ng-container matColumnDef="IsBlocked">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Activo </th>
            <td mat-cell *matCellDef="let element">
              <!-- <label class="switch switch-label switch-pill switch-outline-secondary" style="padding-top:8px;">
                <input type="checkbox" class="switch-input" [checked]="!element.IsBlocked" (change)="changed($event, element.Id)">
                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
              </label> -->
              <mat-slide-toggle color="primary" [checked]="!element.IsBlocked" (change)="changed($event,element.Id)"></mat-slide-toggle>                  
            </td>
          </ng-container>

          <!-- Acciones Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let element"> <a class="btn btn-pill btn-primary btn-sm" (click)="detalleUSer(element.Id)" href="javascript: void(0);"><i class="icon-plus"></i> Detalle</a> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
