<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<div class="container">
  <div class="row justify-content-end" *ngIf="numCuentas > 0">
    <div class="col-lg-6 col-md-6 col-xs-6 text-right">
      <button (click)="crearUser()" class="btn btn-pill btn-ghost-primary"> <i class="fas fa-plus-circle"></i> Crear Usuario</button>
    </div>
  </div>
</div>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <mat-form-field class="input-full-width">
            <input matInput type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Buscar..." />
            <mat-icon matSuffix><i class="fa fa-search"></i></mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
      <div class="table-responsive">
        <table class="table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="Nombre">Nombre <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span></mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="Telefono">Teléfono <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span></mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="RFC">RFC <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span></mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="ClavePatente">Patente <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span></mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="CvePerfil">Perfil <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span></mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter>Foto</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="CveEstatus">Activo <span class="iconfilt"><i class="material-icons u-small-text">filter_list</i></span></mfDefaultSorter>
              </th>
              <th>
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i= index" [attr.data-index]="i">
              <td>{{item.Nombre}} {{item.Paterno}} {{item.Materno}}</td>
              <td>{{item.Telefono}}</td>
              <td>{{item.RFC}}</td>
              <td>{{item.ClavePatente}}</td>
              <td *ngFor="let Perfil of item.Perfil; let i= index" [attr.data-index]="i">
                {{Perfil.CvePerfil}}
              </td>
              <td>
                <i class="fa fa-user-circle fa-2x"></i>
              </td>
              <td>
                <label class="switch switch-label switch-pill switch-outline-secondary">
                    <input type="checkbox" class="switch-input" >
                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                  </label>
              </td>
              <td>
                  <a class="btn btn-ghost-link btn-pill" (click)="detalleUSer(item.Id)" href="javascript: void(0);"><i class="fas fa-plus-circle"></i> Detalle</a>
              </td>
              <td></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
        <div class="table-responsive"></div>
      </div>
    </div>
  </div>
</div>
