<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Buscar..."/>
          </div>
        </div>
      </div>
      <table class="table table-striped table-responsive" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th >
              <mfDefaultSorter by="Nombre">Nombre</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="Telefono">Teléfono</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="rfc">RFC</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="patente">Patente</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="perfil">Perfil</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="foto">Foto</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="activo">Activo</mfDefaultSorter>
            </th>
            <th>
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.Nombre}} {{item.Paterno}} {{item.Materno}}</td>
            <td>{{item.Telefono}}</td>
            <td>{{item.RFC}}</td>
            <td>{{item.ClavePatente}}</td>
            <td *ngFor="let Perfil of item.Perfil">
              {{Perfil.CvePerfil}}
            </td>
            <td>
            <img src="assets/img/avatars/1.jpg" class="img-avatar img-responsive" alt="Image">
            </td>
            <td *ngFor="let Autenticacion of item.Autenticacion">
              <label class="switch switch-label switch-pill switch-outline-secondary">
                  <input type="checkbox" class="switch-input"  [checked]="Autenticacion.CveEstatus == 'A'">
                  <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                </label>
            </td>
            <td *ngFor=" let Autenticacion of item.Autenticacion">
              <button class="btn btn-block" role="button" (click)="detalleUSer(Autenticacion.IdCliente)">
              <span class="icon-plus" aria-hidden="true">&nbsp;Detalle</span>
              </button>
            </td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
