<!-- <h2 mat-dialog-title>Nuevo Previo</h2> -->

<ngx-loading [show]="processingCreation"></ngx-loading>  
<div mat-dialog-title>
  <div class="row justify-content-between">
    <div class="col">
        <h5>Nueva Exportación</h5>
    </div>  
    <div class="col">
      <button mat-dialog-close type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <mat-horizontal-stepper *ngIf="!successResponse" (selectionChange)="stepClick($event)" labelPosition="bottom" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
    <!-- <mat-step [completed]="isMasterHouseValid"> -->
    <!-- <ng-template matStepLabel>Ingresar Master / House</ng-template> -->

    <div class="container mt-3">
      <form [formGroup]="firstFormGroup">                
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row justify-content-center">
                <div class="col-sm-5 col-md-5 col-lg-5">                
                  <mat-form-field class="input-full-width">         
                    <input matInput type="text" formControlName="masterCtrl" [textMask]="{mask: masterMask, guide: false, modelClean: true}" placeholder="Guía Master"/> 
                    <mat-error *ngIf="firstFormGroup.get('masterCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="firstFormGroup.get('masterCtrl').errors?.pattern">
                      Debe ser una Guia Master
                    </mat-error>    
                  </mat-form-field>                                                
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5">                                                
                  <mat-form-field class="input-full-width">    
                    <input matInput type="text" formControlName="houseCtrl" maxlength="20" placeholder="Guía House"/>                    
                    <mat-error *ngIf="firstFormGroup.get('houseCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="firstFormGroup.get('houseCtrl').errors?.pattern">
                      Carácteres no permitidos
                    </mat-error> 
                  </mat-form-field>                                     
                </div>
              </div>          
            </div>
          </div>   

          <div class="row mt-3">
            <div class="col-lg-12 text-center">
              <button (click)="validarCampos(0)" matStepperNext class="btn btn-pill btn-primary btn-sm btn-save-forms">Siguiente</button>            
            </div>
          </div>
      </form>
    </div>
      
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <!-- <ng-template matStepLabel>Información complementaria</ng-template> -->
              
      <div class="container mt-3">
        <form [formGroup]="secondFormGroup">
          <div class="row mb-1">            
              <div class="col-lg-4">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="pedimentoCtrl" placeholder="Pedimento"/>
                  <mat-error *ngIf="secondFormGroup.get('pedimentoCtrl').errors?.required">
                    Este campo es obligatorio
                  </mat-error>  
                </mat-form-field>
              </div>

              <div class="col-lg-4">  
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="piezasCtrl" placeholder="Piezas"/>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" class="no-spinners" formControlName="pesoCtrl" placeholder="Peso"/>
                  <span matSuffix>Kg.</span>
                  <mat-error *ngIf="secondFormGroup.get('pesoCtrl').errors?.required">
                      Este campo es obligatorio
                  </mat-error> 
                  <mat-error *ngIf="secondFormGroup.get('pesoCtrl').errors?.pattern">
                    Debe ser un numero
                  </mat-error> 
                </mat-form-field>
              </div>
                          
            </div>

            <div class="row mb-1">                              
                <div class="col-lg-8">
                  <mat-form-field class="input-full-width">
                    <input matInput type="text" formControlName="fechaEntradaMercanciaCtrl" #dp="bsDatepicker" bsDatepicker [minDate]="minDate" placeholder="Fecha Entrega de Mercancía">
                    <mat-error *ngIf="secondFormGroup.get('fechaEntradaMercanciaCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error> 
                  </mat-form-field>                                              
                </div>

                <!-- <div class="col-lg-4">                    
                  <mat-form-field style="width: 49%;" >
                    <input matInput type="number" formControlName="horaPrevioCtrl" style="text-align:center;" min="0" max="23" placeholder="Hrs" />
                  </mat-form-field>
                  <strong style="font-size:.5rem;">:</strong>
                  <mat-form-field style="width: 49%;">
                    <input matInput type="number" formControlName="minutoPrevioCtrl" style="text-align:center;" min="0" max="59"  placeholder="Mins" />
                  </mat-form-field>
                </div> -->            
                
            </div>

            <div class="row mb-1">
              <div class="col-lg-12">
                <mat-form-field class="input-full-width">
                  <textarea matInput formControlName="comentarioCtrl" placeholder="Comentario"></textarea>
                </mat-form-field>
              </div>            
            </div>
                              
          </form>

          <div class="row mt-3">
            <div class="col-lg-12 text-center">
              <button matStepperPrevious class="btn btn-pill btn-primary btn-sm mr-4 btn-save-forms mb-1 mb-md-0 mr-1 ml-1">Regresar</button>            
              <button (click)="validarCampos(1)" matStepperNext class="btn btn-pill btn-primary btn-sm btn-save-forms mb-1 mb-md-0 mr-1 ml-1">Siguiente</button>            
            </div>
          </div>
      </div>
                
    </mat-step>

    <mat-step [completed]="model.Documentos?.length >= 1 && this.model.Documentos.length <= 6" >
      <!-- <ng-template matStepLabel>Subir documentos</ng-template> -->

      <div class="container mt-3">
        <p>Subir documentos: Guías master y house, gafete, pedimento pagado, transferencia de carga y DODA. (mínimo subir un documento)</p> 
        
        <div class="row mb-1">                     
          <div class="col-lg-12 mb-3">
            <div ngfDrop selectable="1" multiple="1"
              [(files)]="files"
              accept = ".pdf"       
              maxSize   = "2097152"                                                    
              (filesChange) = "dropInputChange($event)"
              class="my-drop-zone"
            >
            <div class="my-drop-zone__text d-none d-lg-block d-xl-block">Arrastra / Selecciona tus archivos .PDF (Max. 2Mb por archivo)</div>
            <div class="my-drop-zone__icon"><i class="fas fa-cloud-upload-alt"></i></div>            
            </div>                                    
          </div>  

          <div *ngFor="let documento of model.Documentos; let in=index" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">    
            <div (click)="removeDocument(in)" class="file__btn-close"><span>&times;</span></div>
            <div>
              <!-- <div (click)="removeDocument(in)" style="height: .5rem;" class="file__btn-close"><span>&times;</span></div>
              <div style="font-size: 3rem; text-align: center"><i class="fas fa-file-pdf"></i></div>                   -->
              <img class="file__icon file__icon--sm" src="../../../assets/img/iconos/{{Pendiente | fileIconStatusPipe}}" />
              <p style="word-break: break-all; text-align: center" class="detail-text">{{documento.NombreDocumento}}</p>                                                                          
            </div>                                                                      
          </div>                                                
        </div>              
                      
        <div class="row mt-3">
          <div class="col-lg-12 text-center">
            <button matStepperPrevious class="btn btn-pill btn-primary btn-sm mr-4 btn-save-forms mb-1 mb-md-0 mr-1 ml-1">Regresar</button>            
            <button (click)="guardarFirstForm()" matStepperNext class="btn btn-pill btn-primary btn-sm btn-save-forms mb-1 mb-md-0 mr-1 ml-1">Siguiente</button>            
          </div>
        </div>

      </div>          
    </mat-step>

    <mat-step>      
      <!-- <ng-template matStepLabel>Resumen</ng-template> -->

      <div class="container">              
        <div class="row">
          <h3>Resumen</h3>
        </div> <!-- End Row -->
        <div class="row mt-2">
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="detail-text font-weight-bold ">Guía Master </div>
            <p class="detail-text">{{model.Master}}</p>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="detail-text font-weight-bold">Guía House </div>
            <p class="detail-text">{{model.House}}</p>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="detail-text font-weight-bold">Pedimento</div>
            <p class="detail-text">{{model.Pedimento  }}</p>
          </div>
        </div><!-- End Row Inside -->
        <div class="row mt-2">
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="detail-text font-weight-bold">Piezas  </div>
            <p class="detail-text">{{model.Piezas }}</p>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="detail-text font-weight-bold">Peso</div>
            <p class="detail-text">{{model.Peso}} Kg.</p>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="detail-text font-weight-bold">Fecha Entrada Mercancía</div>
            <p class="detail-text">{{model.FechaEntradaMercancia?.slice(6,8)}}/{{model.FechaEntradaMercancia?.slice(4,6)}}/{{model.FechaEntradaMercancia?.slice(0,4)}} {{model.FechaEntradaMercancia?.slice(9,14)}}</p>
          </div>
        </div><!-- End Row Inside -->
        <hr class="dividerb">
        <div class="row mt-3">
          <div *ngFor="let file of model.Documentos" class="col-xs-2 col-sm-3 col-md-2 col-lg-2">
            <img class="file__icon file__icon--sm" src="../../../assets/img/iconos/{{Pendiente | fileIconStatusPipe}}" />                   <p style="word-break: break-all; text-align: center" class="detail-text">{{file.NombreDocumento}}</p>                                                                           
          </div>                        
        </div><!-- End Row Inside -->  
        <div class="row mt-3">
          <div class="col-lg-12 text-center">
            <button matStepperPrevious class="btn btn-pill btn-primary btn-sm mr-4 btn-save-forms mb-1 mb-md-0 mr-1 ml-1">Regresar</button>            
            <button (click)="crearExportacion()" class="btn btn-pill btn-primary btn-sm btn-save-forms mb-1 mb-md-0 mr-1 ml-1">Enviar</button>
          </div>
        </div>
      </div>
                             
    </mat-step>    
  </mat-horizontal-stepper>

  <div *ngIf="successResponse" class="container mt-3">
    <div class="conatiner">
      <div class="row">        
        <div class="col-12 text-center">
          <h3>{{responseMessage}}</h3>
        </div>
        <div class="col-12 text-center mt-5 ">
          <button (click)="closeDialog('true')" class="btn btn-pill btn-primary btn-sm">Aceptar</button>  
        </div>
      </div>        
    </div>
  </div>

</mat-dialog-content>
<!-- <mat-dialog-actions *ngIf="!successResponse" align="end"> -->
  <!-- <button mat-dialog-close class="btn btn-pill btn-primary">Cancelar</button>   -->
  <!-- <button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
<!-- </mat-dialog-actions> -->