<!-- <h2 mat-dialog-title>Nuevo Previo</h2> -->
<div mat-dialog-title>
  <div class="row justify-content-between">
    <div class="col">
        <h5>Nueva Pre Alerta</h5>
    </div>  
    <div class="col">
      <button mat-dialog-close type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <mat-horizontal-stepper *ngIf="!successResponse" (selectionChange)="stepClick($event)" labelPosition="bottom" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
    <!-- <ng-template matStepLabel>Ingresar Master / House</ng-template> -->

    <div class="container mt-3">
      <form [formGroup]="firstFormGroup">                
          <div class="row">
            <div class="col-sm-6 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">                
                  <mat-form-field class="input-full-width">         
                    <input matInput type="text" formControlName="masterCtrl" placeholder="Guía Master"/> 
                    <mat-error *ngIf="firstFormGroup.get('masterCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="firstFormGroup.get('masterCtrl').errors?.pattern">
                      Debe ser una Guia Master
                    </mat-error>    
                  </mat-form-field>                                                
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">                                                
                  <mat-form-field class="input-full-width">    
                    <input matInput type="text" formControlName="houseCtrl" placeholder="Guía House"/>  
                    <mat-error *ngIf="firstFormGroup.get('houseCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error>   
                  </mat-form-field>                 
                </div>
              </div>          
            </div>
          </div>   

          <div class="row mt-5">
            <div class="col-lg-12 text-center">
              <button (click)="validarCampos(0)" matStepperNext class="btn btn-pill btn-primary">Siguiente</button>            
            </div>
          </div>
      </form>
    </div>
      
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <!-- <ng-template matStepLabel>Información complementaria</ng-template> -->
              
        <div class="container mt-3">
          <form [formGroup]="secondFormGroup">
            <div class="row mb-3">            
                <div class="col-lg-4">
                  <mat-form-field class="input-full-width">
                    <input matInput type="text" formControlName="referenciaCtrl" placeholder="Referencia"/>
                    <mat-error *ngIf="secondFormGroup.get('referenciaCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error>  
                  </mat-form-field>
                </div>

                <div class="col-lg-4">  
                  <mat-form-field class="input-full-width">
                    <input matInput type="text" formControlName="piezasCtrl" placeholder="Piezas"/>
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="input-full-width">
                    <input matInput type="text" class="no-spinners" formControlName="pesoCtrl" placeholder="Peso"/>
                    <mat-error *ngIf="secondFormGroup.get('pesoCtrl').errors?.required">
                        Este campo es obligatorio
                    </mat-error> 
                    <mat-error *ngIf="secondFormGroup.get('pesoCtrl').errors?.pattern">
                      Debe ser un numero
                    </mat-error> 
                  </mat-form-field>
                </div>
                           
              </div>

              <div class="row mb-3">                              
                  <div class="col-lg-4">
                    <mat-form-field class="input-full-width">
                      <input matInput type="text" formControlName="fechaArriboCtrl" #dp="bsDatepicker" bsDatepicker placeholder="Fecha estimada de Arribo">
                      <mat-error *ngIf="secondFormGroup.get('fechaArriboCtrl').errors?.required">
                        Este campo es obligatorio
                      </mat-error> 
                    </mat-form-field>                                              
                  </div>

                  <div class="col-lg-4">
                    <mat-form-field class="input-full-width">
                      <mat-select formControlName="almacenOrigenCtrl" placeholder="Almacén de Origen" #singleSelect>
                        <mat-option>                      
                          <ngx-mat-select-search formControlName="almacenOrigenSearchCtrl" [placeholderLabel]="'Almacén'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option>Ninguno</mat-option>                    
                        <mat-option *ngFor="let option of almacenOrigenCatalogo | filterSelect: secondFormGroup.get('almacenOrigenSearchCtrl').value" [value]="option.Clave"> 
                          {{option.Clave}} - {{option.RecintoFiscalizado}}
                        </mat-option>
                      </mat-select>                  
                    </mat-form-field>
                  </div>

                  <div class="col-lg-4">
                    <mat-form-field class="input-full-width">
                      <mat-select formControlName="rangoTemperaturaCtrl" placeholder="Rango de Temperatura" #singleSelect>
                        <mat-option>                      
                          <ngx-mat-select-search formControlName="rangoTemperaturaSearchCtrl" [placeholderLabel]="'Temperatura'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option>Ninguno</mat-option>                    
                        <mat-option *ngFor="let option of rangoTemperaturaCatalogo | filterSelect: secondFormGroup.get('rangoTemperaturaSearchCtrl').value" [value]="option.Concepto"> 
                          {{option.Concepto}} - {{option.RangoTemperatura}}
                        </mat-option>
                      </mat-select>                  
                    </mat-form-field>
                  </div>
              </div>

              <div class="row mb-3">   
                <div class="col-lg-4">
                  <mat-form-field class="input-full-width">
                    <input matInput type="text" formControlName="consignatarioCtrl" placeholder="Consignatario a Facturar"/>
                    <mat-error *ngIf="secondFormGroup.get('consignatarioCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error>                     
                  </mat-form-field>
                </div>  
                
                <div class="col-lg-4">
                  <mat-form-field class="input-full-width">
                    <mat-select formControlName="metodoPagoCtrl" placeholder="Método de Pago" #singleSelect>
                      <mat-option>                      
                        <ngx-mat-select-search formControlName="metodoPagoSearchCtrl" [placeholderLabel]="'Método de Pago'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option>Ninguno</mat-option>                    
                      <mat-option *ngFor="let option of metodoPagoCatalogo | filterSelect: secondFormGroup.get('metodoPagoSearchCtrl').value" [value]="option.c_MetodoPago"> 
                        {{option.c_MetodoPago}} - {{option.Descripcion}}
                      </mat-option>
                    </mat-select>                  
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field class="input-full-width">
                    <mat-select formControlName="usoCFDICtrl" placeholder="Uso de CFDI" #singleSelect>
                      <mat-option>                      
                        <ngx-mat-select-search formControlName="usoCFDISearchCtrl" [placeholderLabel]="'Uso de CFDI'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option>Ninguno</mat-option>                    
                      <mat-option *ngFor="let option of usoCFDICatalogo | filterSelect: secondFormGroup.get('usoCFDISearchCtrl').value" [value]="option.c_UsoCFDI"> 
                        {{option.c_UsoCFDI}} - {{option.Descripcion}}
                      </mat-option>
                    </mat-select>                  
                  </mat-form-field>
                </div>
                                           
              </div>   
              
              <div class="row mb-3">
                <div class="col-lg-6">
                  <mat-form-field class="input-full-width">
                    <mat-select formControlName="condicionesAlmacenesCtrl" placeholder="Condiciones Almacen" #singleSelect>
                      <mat-option>                      
                        <ngx-mat-select-search formControlName="condicionesAlmacenesSearchCtrl" [placeholderLabel]="'Condiciones Almacen'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option>Ninguno</mat-option>                    
                      <mat-option *ngFor="let option of condicionesAlmacenesCatalogo | filterSelect: secondFormGroup.get('condicionesAlmacenesSearchCtrl').value" [value]="option.CveCondicionalmacenaje"> 
                        {{option.CveCondicionalmacenaje}} - {{option.Descripcion}}
                      </mat-option>
                    </mat-select>                  
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-slide-toggle formControlName="consolidadoCtrl">Consolidado</mat-slide-toggle>                  
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-lg-12">
                  Instrucciones de Manejo
                </div>
                <div class="col-lg-12">
                  <mat-radio-group formControlName="instruccionesManejoCtrl" aria-label="Select an option">
                    <div class="row mt-3">
                      <mat-radio-button class="col" *ngFor="let option of instruccionesManejoCatalogo" [value]="option.ClaveInstruccion">
                        {{option.ClaveInstruccion}} - {{option.Descripcion}}
                      </mat-radio-button>                    
                    </div>                    
                  </mat-radio-group>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-lg-12">
                  <mat-form-field class="input-full-width">
                    <textarea matInput formControlName="comentarioCtrl" placeholder="Comentario"></textarea>
                  </mat-form-field>
                </div>            
              </div>
            </form>

            <div class="row mt-5">
              <div class="col-lg-12 text-center">
                <button matStepperPrevious class="btn btn-pill btn-primary mr-4">Regresar</button>            
                <button (click)="validarCampos(1)" matStepperNext class="btn btn-pill btn-primary">Siguiente</button>            
              </div>
            </div>
        </div>
                
    </mat-step>

    <mat-step [completed]="model.Documentos?.length >= 1" >      
      <!-- <ng-template matStepLabel>Subir documentos</ng-template> -->

      <div class="container mt-3">
        <p>Subir documentos: Guia Master, Guia House, Gafete, Etiquetado<small> (mínimo subir un documento)</small></p>  
        
        <div class="row mb-5">                     
          <div class="col-lg-12 mb-3">
            <div ngfDrop selectable="1" multiple="1"
              [(files)]="files"
              accept = ".pdf"                                                           
              (filesChange) = "dropInputChange($event)"
              class="my-drop-zone"
            >
            Arrastra / Selecciona tus archivos
            </div>                                    
          </div>  

          <div *ngFor="let documento of model.Documentos; let in=index" class="col-lg-2">    
            <div>
              <div (click)="removeDocument(in)" class="file__btn-close"><span>&times;</span></div>
              <div style="font-size: 4rem; text-align: center"><i class="fas fa-file-pdf"></i></div>                  
              <p style="word-break: break-all; text-align: center">{{documento.NombreDocumento}}</p>                                                                          
            </div>                                                                      
          </div>                                                
        </div>              
                      
        <div class="row mt-5">
          <div class="col-lg-12 text-center">
            <button matStepperPrevious class="btn btn-pill btn-primary mr-4">Regresar</button>            
            <button (click)="guardarFirstForm()" matStepperNext class="btn btn-pill btn-primary">Siguiente</button>            
          </div>
        </div>

      </div>          
    </mat-step>

    <mat-step>      
        <!-- <ng-template matStepLabel>Resumen</ng-template> -->

        <div class="container">              
                <div class="row">

                  <!--  Start left -->
                  <div class="col-12 col-md-12">                    
                    <div class="row mb-1">
                      <div class="col-md-4">
                        <h5 class="detail-text">Guia Master </h5>
                        <p class="detail-text">{{model.GuiaMaster}}</p>
                      </div>
                      
                      <div class="col-md-4">
                        <div class="row justify-content-end">
                          <div class="col">
                            <!-- <h5 class="detail-text referencia">Referencia: Sin Referencia</h5>  -->
                            <h5 class="detail-text referencia">Referencia: {{ model.Referencia }}</h5>                             
                          </div>                          
                        </div>
                      </div>   
                      
                      <div class="col-md-4">
                        <div class="row justify-content-end">
                          <div class="col">
                            <h5 class="detail-text">Estatus</h5>
                            <div class="col status-filter">            
                              <div class="status-filter__circle status-filter__circle--Solicitada"></div>
                              <div class="status-filter__text">
                                <p> Solicitada </p>
                              </div>
                            </div>
                          </div>                        
                        </div>
                      </div>   
                    </div> 
                
                    <div class="row mb-1">
                      <div class="col-md-3">
                        <h5 class="detail-text">Guia House</h5>
                        <p class="detail-text">{{model.GuiaHouse}}</p>
                      </div>

                      <div class="col-md-3">
                        <h5 class="detail-text">Piezas</h5>
                        <p class="detail-text">{{model.Piezas}}</p>
                      </div>

                      <div class="col-md-3">
                        <h5 class="detail-text">Uso de CFDI</h5>                        
                        <p class="detail-text">{{usoCFDICatalogo | getSelect: model.UsoCFDI : 2}}</p>
                      </div>

                      <div class="col-md-3">
                        <h5 class="detail-text">Peso</h5>
                        <p class="detail-text">{{model.Peso}}</p>
                      </div>
                    </div>   
                
                    <div class="row mb-1">
                      <div class="col-md-3">
                        <h5 class="detail-text">Consignatario a Facturar</h5> 
                        <p class="detail-text">{{model.Consignatario}}</p>
                      
                      </div>
                      <div class="col-md-3">
                        <h5 class="detail-text">Fecha de Arribo </h5>
                        <p class="detail-text">{{model.FechaArribo}}</p>
                      </div>
                      
                      <div class="col-md-3">
                        <h5 class="detail-text">Consolidado</h5>
                        <p class="detail-text">{{model.Consolidado ? 'Sí' : 'No'}}</p>
                      </div>

                      <div class="col-md-3">
                        <h5 class="detail-text">Almacén de Origen</h5>
                        <p class="detail-text">{{almacenOrigenCatalogo | getSelect: model.AlmacenOrigen : 2}} </p>
                      </div>
                    </div>
                
                    <div class="row mb-3">
                      <div class="col-md-4">
                        <h5 class="detail-text">Método de Pago</h5> 
                        <p class="detail-text">{{metodoPagoCatalogo | getSelect: model.MetodoPago : 2}}</p>
                      
                      </div>
                      <div class="col-md-4">
                        <h5 class="detail-text">Rango de Temperatura</h5>
                        <h6 class="detail-text">{{rangoTemperaturaCatalogo | getSelect: model.RangoTemperatura : 2}}</h6>
                      </div>                                           
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-4">
                        <h5 class="detail-text">Condición de Almacenaje</h5> 
                        <p class="detail-text">{{condicionesAlmacenesCatalogo | getSelect: model.CondicionAlmacenaje : 2}}</p>
                      
                      </div>
                      <div class="col-md-4">
                        <h5 class="detail-text">Instrucciones de Manejo</h5>
                        <h6 class="detail-text">{{instruccionesManejoCatalogo | getSelect: model.InstruccionesManejo : 2}}</h6>
                      </div>                                           
                    </div>

                    <hr class="dividerb">
                  
                    <div class="row mt-5 mb-3">                
                        <div *ngFor="let file of model.Documentos" class="col col-lg-2">
                          <h1 style="font-size: 5rem"><i class="fas {{file.NombreDocumento | fileIconPipe}}"></i></h1>
                          <p style="word-break: break-all;" class="detail-text">{{file.NombreDocumento}}</p>                                                                                               
                        </div>                      
                    </div>

                  </div>
                  <!--  End left -->                 

                </div>

                <div class="row mt-5">
                  <div class="col-lg-12 text-center">
                    <button matStepperPrevious class="btn btn-pill btn-primary mr-4">Regresar</button>            
                    <button (click)="crearPrevio()" class="btn btn-pill btn-primary">Enviar</button>
                  </div>
                </div>

            </div>                      
    </mat-step>    
  </mat-horizontal-stepper>

  <div *ngIf="successResponse" class="container mt-3">
    <div class="conatiner">
      <div class="row">
        <div class="col-12 text-center">
          Gracias
        </div>
        <div class="col-12 text-center">
          {{responseMessage}}
        </div>
        <div class="col-12 text-center mt-5 ">
          <button (click)="closeDialog('true')" class="btn btn-pill btn-primary">Ok</button>  
        </div>
      </div>        
    </div>
  </div>

</mat-dialog-content>
<!-- <mat-dialog-actions *ngIf="!successResponse" align="end"> -->
  <!-- <button mat-dialog-close class="btn btn-pill btn-primary">Cancelar</button>   -->
  <!-- <button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
<!-- </mat-dialog-actions> -->