<!-- <h2 mat-dialog-title>Nuevo Previo</h2> -->
<ngx-loading [show]="processingCreation"></ngx-loading>
<div mat-dialog-title>
  <div class="row justify-content-between">
    <div class="col">
        <h5>Nuevo Previo</h5>
    </div>  
    <div class="col">
      <button mat-dialog-close type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <mat-horizontal-stepper *ngIf="!successResponse" (selectionChange)="stepClick($event)" labelPosition="bottom" [linear]="isLinear" #stepper>
    <!-- <mat-step [stepControl]="firstFormGroup"> -->
    <mat-step [completed]="isMasterHouseValid">
    <!-- <ng-template matStepLabel>Ingresar Master / House</ng-template> -->

    <div class="container mt-3">
      <form [formGroup]="firstFormGroup">                
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">                
                  <mat-form-field class="input-full-width">         
                    <input matInput type="text" (input)="cleanReferencia()" formControlName="masterCtrl" [textMask]="{mask: masterMask, guide: false, modelClean: true}" placeholder="Guía Master"/> 
                    <mat-error *ngIf="firstFormGroup.get('masterCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="firstFormGroup.get('masterCtrl').errors?.pattern">
                      Debe ser una Guia Master
                    </mat-error>    
                  </mat-form-field>                              

                  <mat-form-field class="input-full-width">    
                    <input matInput type="text" (input)="cleanReferencia()" formControlName="houseCtrl" placeholder="Guía House"/>  
                    <mat-error *ngIf="firstFormGroup.get('houseCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error>   
                  </mat-form-field> 
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">                                                
                  <mat-form-field class="input-full-width">    
                    <input matInput type="text" formControlName="referenciaCtrl" placeholder="Referencia"/>                      
                    <!-- <input matInput type="text" (input)="checkReferencia()" formControlName="referenciaCtrl" placeholder="Referencia"/>                       -->
                  </mat-form-field>                 
                  <button (click)="checkReferencia()" style="float: right;" class="btn btn-pill btn-primary">Checar referencia</button>            
                </div>
              </div>          
            </div>
          </div>   

          <div class="row mt-5">
            <div class="col-lg-12 text-center">
              <button (click)="validarCampos(0)" matStepperNext class="btn btn-pill btn-primary">Siguiente</button>            
            </div>
          </div>
      </form>
    </div>
      
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <!-- <ng-template matStepLabel>Información complementaria</ng-template> -->
              
        <div class="container mt-3">
          <form [formGroup]="secondFormGroup">
        
              <div class="row mb-3">                     
                <div class="col-lg-4">  
                  <mat-form-field class="input-full-width">
                    <input matInput type="text" formControlName="piezasCtrl" placeholder="Piezas"/>
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="input-full-width">
                    <input matInput type="text" class="no-spinners" formControlName="pesoCtrl" placeholder="Peso"/>
                    <mat-error *ngIf="secondFormGroup.get('pesoCtrl').errors?.required">
                        Este campo es obligatorio
                    </mat-error> 
                    <mat-error *ngIf="secondFormGroup.get('pesoCtrl').errors?.pattern">
                      Debe ser un numero
                    </mat-error> 
                  </mat-form-field>
                </div>    

                <div class="col-lg-4">                                             
                  <mat-slide-toggle formControlName="etiquetadoCtrl" color="primary">Etiquetado</mat-slide-toggle>                  
                </div>                                   
              </div>

              <div class="row mb-3">                 
                <div class="col-lg-6">
                  <mat-form-field class="input-full-width">
                    <input matInput type="text" formControlName="fechaPrevioCtrl" #dp="bsDatepicker" bsDatepicker [minDate]="minDate" placeholder="Fecha">
                    <mat-error *ngIf="secondFormGroup.get('fechaPrevioCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error> 
                  </mat-form-field>                                              
                </div>

                <div class="col-lg-6">                    
                  <mat-form-field style="width: 49%;" >
                    <input matInput type="number" formControlName="horaPrevioCtrl" style="text-align:center;" min="0" max="23" placeholder="Hrs" />
                  </mat-form-field>
                  <strong style="font-size:1rem;">:</strong>
                  <mat-form-field style="width: 49%;">
                    <input matInput type="number" formControlName="minutoPrevioCtrl" style="text-align:center;" min="0" max="59"  placeholder="Mins" />
                  </mat-form-field>
                </div>                                       
              </div>
              
            </form>

            <div class="row mt-5">
              <div class="col-lg-12 text-center">
                <button matStepperPrevious class="btn btn-pill btn-primary mr-4">Regresar</button>            
                <button (click)="validarCampos(1)" matStepperNext class="btn btn-pill btn-primary">Siguiente</button>            
              </div>
            </div>
        </div>
                
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">

      <div class="container mt-3">
        <form [formGroup]="thirdFormGroup">
          
          <div class="row mb-3">     
            <div class="col-lg-6">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="numGafeteCtrl" placeholder="No. Gafete"/>
                <mat-error *ngIf="thirdFormGroup.get('numGafeteCtrl').errors?.required">
                  Este campo es obligatorio
                </mat-error> 
                <mat-error *ngIf="thirdFormGroup.get('numGafeteCtrl').errors?.pattern">
                  Debe ser un numero
                </mat-error> 
              </mat-form-field>
            </div>  
            
            <div class="col-lg-6">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="patenteCtrl" placeholder="Patente"/>
                <mat-error *ngIf="thirdFormGroup.get('patenteCtrl').errors?.required">
                  Este campo es obligatorio
                </mat-error> 
                <mat-error *ngIf="thirdFormGroup.get('patenteCtrl').errors?.pattern">
                  Debe ser un numero
                </mat-error> 
              </mat-form-field>
            </div>                               
          </div>  

          <div class="row mb-3">            
              <div class="col-lg-4">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="nombreCtrl" placeholder="Nombre del tramitador"/>
                  <mat-error *ngIf="thirdFormGroup.get('nombreCtrl').errors?.required">
                    Este campo es obligatorio
                  </mat-error>  
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="paternoCtrl" placeholder="Apellido Paterno"/>
                  <mat-error *ngIf="thirdFormGroup.get('paternoCtrl').errors?.required">
                    Este campo es obligatorio
                  </mat-error>  
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="maternoCtrl" placeholder="Apellido Materno"/>
                  <mat-error *ngIf="thirdFormGroup.get('maternoCtrl').errors?.required">
                    Este campo es obligatorio
                  </mat-error> 
                </mat-form-field>
              </div>              
            </div>          

            <div class="row mb-3">
              <div class="col-lg-12">
                <mat-form-field class="input-full-width">
                  <textarea matInput formControlName="comentarioCtrl" placeholder="Comentario"></textarea>
                </mat-form-field>
              </div>            
            </div>
          </form>

          <div class="row mt-5">
            <div class="col-lg-12 text-center">
              <button matStepperPrevious class="btn btn-pill btn-primary mr-4">Regresar</button>            
              <button (click)="validarCampos(2)" matStepperNext class="btn btn-pill btn-primary">Siguiente</button>            
            </div>
          </div>
      </div>

    </mat-step>

    <mat-step [completed]="model.Documentos?.length >= 1" >      
      <!-- <ng-template matStepLabel>Subir documentos</ng-template> -->

      <div class="container mt-3">
        <p>Subir documentos: Guia Master, Guia House, Gafete, Etiquetado<small> (mínimo subir un documento)</small></p>  
        
        <div class="row mb-5">                     
          <div class="col-lg-12 mb-3">
            <div ngfDrop selectable="1" multiple="1"
              [(files)]="files"
              accept = ".pdf"                                                           
              (filesChange) = "dropInputChange($event)"
              class="my-drop-zone"
            >
            Arrastra / Selecciona tus archivos
            </div>                                    
          </div>  

          <div *ngFor="let documento of model.Documentos; let in=index" class="col-lg-2">    
            <div>
              <div (click)="removeDocument(in)" class="file__btn-close"><span>&times;</span></div>
              <div style="font-size: 4rem; text-align: center"><i class="fas fa-file-pdf"></i></div>                  
              <p style="word-break: break-all; text-align: center">{{documento.NombreDocumento}}</p>                                                                          
            </div>                                                                      
          </div>

              <!-- <div class="col-lg-1 align-self-center">
                <input (change)="onFileChanged($event)" style="display: none;" id="fileInput" type="file" multiple>
                <label for="fileInput">
                  <div class="btn btn-ghost-primary"> <i class="fas fa-plus-circle"></i></div>
                </label>
              </div> -->                                      
        </div>              
                      
        <div class="row mt-5">
          <div class="col-lg-12 text-center">
            <button matStepperPrevious class="btn btn-pill btn-primary mr-4">Regresar</button>            
            <button (click)="guardarFirstForm()" matStepperNext class="btn btn-pill btn-primary">Siguiente</button>            
          </div>
        </div>

      </div>          
    </mat-step>

    <mat-step>      
        <!-- <ng-template matStepLabel>Resumen</ng-template> -->

        <div class="container">              
                <div class="row">

                  <!--  Start left -->
                  <div class="col-12 col-md-12">                    
                    <div class="row mb-1">
                      <div class="col-md-4">
                        <h5 class="detail-text text-muted">Guía Master </h5>
                        <p class="detail-text">{{model.Master}}</p>
                      </div>
                      
                      <div class="col-md-4">
                        <div class="row justify-content-end">
                          <div class="col">
                            <!-- <h5 class="detail-text referencia">Referencia: Sin Referencia</h5>  -->
                            <h5 class="detail-text referencia">Referencia: {{ referencia }}</h5>                             
                          </div>                          
                        </div>
                      </div>                        
                    </div> 
                
                    <div class="row mb-1">
                      <div class="col-md-4">
                        <h5 class="detail-text text-muted">Guía House</h5>
                        <p class="detail-text">{{model.House}}</p>
                      </div>

                      <div class="col-md-4">
                        <h5 class="detail-text text-muted">Nombre Completo</h5>
                        <p class="detail-text">{{model.Nombre}} {{model.Paterno}} {{model.Materno}}</p>
                      </div>

                      <div class="col-md-4">
                        <h5 class="detail-text text-muted">No. Gafete</h5>
                        <p class="detail-text">{{model.NumGafete}}</p>
                      </div>
                    </div>   
                
                    <div class="row mb-1">
                      <div class="col-md-4">
                        <h5 class="detail-text text-muted">Patente</h5> 
                        <p class="detail-text">{{model.Patente}}</p>
                      
                      </div>
                      <div class="col-md-4">
                        <h5 class="detail-text text-muted">Piezas</h5>
                        <p class="detail-text">{{model.Piezas}}</p>
                      </div>
                      
                      <div class="col-md-4">
                        <h5 class="detail-text text-muted">Peso</h5>
                        <p class="detail-text">{{model.Peso}} Kg</p>
                      </div>
                    </div>
                
                    <div class="row mb-3">
                      <div class="col-md-4">
                        <h5 class="detail-text text-muted">Fecha y hora</h5> 
                        <p class="detail-text">{{model.FechaPrevio?.slice(0,4)}}/{{model.FechaPrevio?.slice(4,6)}}/{{model.FechaPrevio?.slice(6,9)}} {{model.FechaPrevio?.slice(9,14)}}</p>                        
                      </div>
                      <div class="col-md-4">
                        <h5 class="detail-text text-muted">Etiquetado</h5>
                        <h6 class="detail-text">{{model.Etiquetado ? 'Sí' : 'No'}}</h6>
                      </div>                                           
                    </div>

                    <hr class="dividerb">
                  
                    <div class="row mt-5 mb-3">                
                        <div *ngFor="let file of model.Documentos" class="col col-lg-2">
                          <h1 style="font-size: 5rem"><i class="fas {{file.NombreDocumento | fileIconPipe}}"></i></h1>
                          <p style="word-break: break-all;" class="detail-text">{{file.NombreDocumento}}</p>                                                                                               
                        </div>                      
                    </div>

                  </div>
                  <!--  End left -->                 

                </div>

                <div class="row mt-5">
                  <div class="col-lg-12 text-center">
                    <button matStepperPrevious class="btn btn-pill btn-primary mr-4">Regresar</button>            
                    <button (click)="crearPrevio()" class="btn btn-pill btn-primary">Enviar</button>
                  </div>
                </div>

            </div>                      
    </mat-step>    
  </mat-horizontal-stepper>

  <div *ngIf="successResponse" class="container mt-3">
    <div class="conatiner">
      <div class="row">
        <div class="col-12 text-center">
          Gracias
        </div>
        <div class="col-12 text-center">
          {{responseMessage}}
        </div>
        <div class="col-12 text-center mt-5 ">
          <button (click)="closeDialog('true')" class="btn btn-pill btn-primary">Aceptar</button>  
        </div>
      </div>        
    </div>
  </div>

</mat-dialog-content>
<!-- <mat-dialog-actions *ngIf="!successResponse" align="end"> -->
  <!-- <button mat-dialog-close class="btn btn-pill btn-primary">Cancelar</button>   -->
  <!-- <button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
<!-- </mat-dialog-actions> -->