<!-- <h2 mat-dialog-title>Nuevo Previo</h2> -->

<ngx-loading [show]="processingCreation"></ngx-loading>  
<div mat-dialog-title>
  <div class="row justify-content-between">
    <div class="col">
        <h5>Nueva Prealerta</h5>
    </div>  
    <div class="col">
      <button mat-dialog-close type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <mat-horizontal-stepper *ngIf="!successResponse" (selectionChange)="stepClick($event)" labelPosition="bottom" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
    <!-- <mat-step [completed]="isMasterHouseValid"> -->
    <!-- <ng-template matStepLabel>Ingresar Master / House</ng-template> -->

    <div class="container mt-3">
      <form [formGroup]="firstFormGroup">                
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row justify-content-center">
                <div class="col-sm-5 col-md-5 col-lg-5">                
                  <mat-form-field class="input-full-width">         
                    <input matInput type="text" formControlName="masterCtrl" [textMask]="{mask: masterMask, guide: false, modelClean: true}" placeholder="Guía Master"/> 
                    <mat-error *ngIf="firstFormGroup.get('masterCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="firstFormGroup.get('masterCtrl').errors?.pattern">
                      Debe ser una Guia Master
                    </mat-error>    
                  </mat-form-field>                                                
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5">                                                
                  <mat-form-field class="input-full-width">    
                    <input matInput type="text" maxlength="20" formControlName="houseCtrl" placeholder="Guía House"/>                    
                    <mat-error *ngIf="firstFormGroup.get('houseCtrl').errors?.required">
                        Este campo es obligatorio
                      </mat-error>
                      <mat-error *ngIf="firstFormGroup.get('houseCtrl').errors?.pattern">
                        Carácteres no permitidos
                      </mat-error>    
                  </mat-form-field>                 
                </div>
              </div>          
            </div>
          </div>   

          <div class="row mt-3">
            <div class="col-lg-12 text-center">
              <button (click)="validarCampos(0)" matStepperNext class="btn btn-pill btn-primary btn-save-forms mb-1 mb-md-0 mr-1 ml-1 btn-sm">Siguiente</button>            
            </div>
          </div>
      </form>
    </div>
      
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
    <!-- <mat-step [completed]="isSecondFormAndTimeValid"> -->
      <!-- <ng-template matStepLabel>Información complementaria</ng-template> -->
              
      <div class="container mt-1">
        <form [formGroup]="secondFormGroup">
          <div class="row mb-1">            
              <div class="col-lg-4">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="referenciaCtrl" maxlength="20" placeholder="Referencia"/>
                  <mat-error *ngIf="secondFormGroup.get('referenciaCtrl').errors?.required">
                    Este campo es obligatorio
                  </mat-error>  
                </mat-form-field>
              </div>

              <div class="col-lg-4">  
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="piezasCtrl" maxlength="7" placeholder="Piezas"/>
                  <mat-error *ngIf="secondFormGroup.get('piezasCtrl').errors?.required">
                    Este campo es obligatorio
                  </mat-error> 
                  <mat-error *ngIf="secondFormGroup.get('piezasCtrl').errors?.pattern">
                    Debe ser un número
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" class="no-spinners" formControlName="pesoCtrl" placeholder="Peso"/>
                  <span matSuffix>Kg.</span>
                  <mat-error *ngIf="secondFormGroup.get('pesoCtrl').errors?.required">
                    Este campo es obligatorio
                  </mat-error> 
                  <mat-error *ngIf="secondFormGroup.get('pesoCtrl').errors?.pattern">
                    Debe ser un número con máximo 2 decimales
                  </mat-error> 
                </mat-form-field>
              </div>
                          
            </div>

            <div class="row mb-1">                              
                <div class="col-lg-4">
                  <mat-form-field class="input-full-width">
                    <input matInput type="text" formControlName="fechaArriboCtrl" #dp="bsDatepicker" bsDatepicker [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" placeholder="Fecha estimada de Arribo">
                    <mat-error *ngIf="secondFormGroup.get('fechaArriboCtrl').errors?.required">
                      Este campo es obligatorio
                    </mat-error> 
                  </mat-form-field>                                              
                </div>

                <div class="col-lg-4">                    
                  <mat-form-field style="width: 49%;" >
                    <input matInput type="number" formControlName="horaPrevioCtrl" style="text-align:center;" min="0" max="23" placeholder="Hrs" />
                  </mat-form-field>
                  <strong style="font-size:.5rem;">:</strong>
                  <mat-form-field style="width: 49%;">
                    <input matInput type="number" formControlName="minutoPrevioCtrl" style="text-align:center;" min="0" max="59"  placeholder="Mins" />
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field class="input-full-width">
                    <mat-select formControlName="almacenOrigenCtrl" placeholder="Almacén de Origen" #singleSelect>
                      <mat-option>                      
                        <ngx-mat-select-search formControlName="almacenOrigenSearchCtrl" [placeholderLabel]="'Almacén'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                      </mat-option>
                      <!-- <mat-option>Ninguno</mat-option>                     -->
                      <mat-option *ngFor="let option of almacenOrigenCatalogo | filterSelect: secondFormGroup.get('almacenOrigenSearchCtrl').value" [value]="option.Clave"> 
                        {{option.RecintoFiscalizado}}
                      </mat-option>
                    </mat-select>                  
                  </mat-form-field>
                </div>                  
            </div>

            <div class="row mb-1">  

              <div class="col-lg-8">
                <mat-form-field class="input-full-width">
                  <mat-select formControlName="condicionesAlmacenesCtrl" placeholder="Condiciones de Almacenaje" #singleSelect>
                    <mat-option>                      
                      <ngx-mat-select-search formControlName="condicionesAlmacenesSearchCtrl" [placeholderLabel]="'Condiciones de Almacenaje'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                    </mat-option>
                    <!-- <mat-option>Ninguno</mat-option>                     -->
                    <mat-option *ngFor="let option of condicionesAlmacenesCatalogo | filterSelect: secondFormGroup.get('condicionesAlmacenesSearchCtrl').value" [value]="option.CveCondicionalmacenaje"> 
                      {{option.CveCondicionalmacenaje}} - {{option.Descripcion}}
                    </mat-option>
                  </mat-select>                  
                </mat-form-field>
              </div>

              <div class="col-lg-4">
                  <mat-form-field class="input-full-width">
                    <mat-select formControlName="rangoTemperaturaCtrl" placeholder="Rango de Temperatura" #singleSelect>
                      <mat-option>                      
                        <ngx-mat-select-search formControlName="rangoTemperaturaSearchCtrl" [placeholderLabel]="'Temperatura'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                      </mat-option>
                      <!-- <mat-option>Ninguno</mat-option>                     -->
                      <mat-option *ngFor="let option of rangoTemperaturaCatalogo | filterSelect: secondFormGroup.get('rangoTemperaturaSearchCtrl').value" [value]="option.Concepto"> 
                        {{option.Concepto}}
                      </mat-option>
                    </mat-select>   
                    <!-- <mat-hint align="end"><span style="font-size: 0.55rem; float: right; text-align: right; font-weight: bold;">Cadena fría genera el costo respectivo conforme a tarifa.</span></mat-hint>                -->
                  </mat-form-field>
                </div>                          
                                          
            </div>   
            
            <div class="row mb-1">
              <div class="col-lg-4">
                <mat-form-field class="input-full-width">
                  <mat-select formControlName="usoCFDICtrl" placeholder="Uso de CFDI" #singleSelect>
                    <mat-option>                      
                      <ngx-mat-select-search formControlName="usoCFDISearchCtrl" [placeholderLabel]="'Uso de CFDI'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                    </mat-option>
                    <!-- <mat-option>Ninguno</mat-option>                     -->
                    <mat-option *ngFor="let option of usoCFDICatalogo | filterSelect: secondFormGroup.get('usoCFDISearchCtrl').value" [value]="option.c_UsoCFDI"> 
                      {{option.c_UsoCFDI}} - {{option.Descripcion}}
                    </mat-option>
                  </mat-select>                  
                </mat-form-field>
              </div>

              <div class="col-lg-4">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="consignatarioCtrl" maxlength="200" placeholder="Consignatario"/>
                  <mat-error *ngIf="secondFormGroup.get('consignatarioCtrl').errors?.required">
                    Este campo es obligatorio
                  </mat-error>                     
                </mat-form-field>
              </div>  
              
              <div class="col-lg-4">
                <mat-form-field class="input-full-width">
                  <mat-select formControlName="metodoPagoCtrl" placeholder="Método de Pago" #singleSelect>
                    <mat-option>                      
                      <ngx-mat-select-search formControlName="metodoPagoSearchCtrl" [placeholderLabel]="'Método de Pago'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                    </mat-option>
                    <!-- <mat-option>Ninguno</mat-option>                     -->
                    <mat-option *ngFor="let option of metodoPagoCatalogo | filterSelect: secondFormGroup.get('metodoPagoSearchCtrl').value" [value]="option.c_MetodoPago"> 
                      {{option.c_MetodoPago}} - {{option.Descripcion}}
                    </mat-option>
                  </mat-select>                  
                </mat-form-field>
              </div> 

            </div>

            <div class="row mb-2">
              <div class="col-lg-3">                
                  <mat-slide-toggle formControlName="consolidadoCtrl" color="primary">Consolidado</mat-slide-toggle>                                  
              </div>   
              
              <!-- <div class="col-lg-9">
                <div class="row mb-1">
                  <div class="col-lg-12">
                    Instrucciones de Manejo
                  </div>
                  <div class="col-lg-12">
                    <mat-radio-group formControlName="instruccionesManejoCtrl" aria-label="Select an option">
                      <div class="row mt-1">
                        <mat-radio-button class="col" *ngFor="let option of instruccionesManejoCatalogo" [value]="option.ClaveInstruccion" color="primary">                      
                          {{option.Descripcion}}
                        </mat-radio-button>       
                        <mat-radio-button class="col" value="O" color="primary">                      
                          Otro
                        </mat-radio-button>                    
                      </div>                    
                    </mat-radio-group>
                  </div>
                </div>
              </div> -->
              
            </div>

            <div class="row mb-0">
              <div class="col-lg-12">
                Instrucciones de Manejo
              </div>
              <div class="col-lg-12">
                <mat-radio-group formControlName="instruccionesManejoCtrl" aria-label="Select an option">
                  <div class="row mt-1">
                    <mat-radio-button class="col" *ngFor="let option of instruccionesManejoCatalogo; let i=index" [value]="option.ClaveInstruccion" color="primary">                      
                      {{option.Descripcion}}
                    </mat-radio-button>       
                    <mat-radio-button class="col" value="O" color="primary">                      
                      OTRO
                    </mat-radio-button>                    
                  </div>                                      
                </mat-radio-group>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-12">
                <mat-form-field class="input-full-width">
                  <textarea matInput formControlName="comentarioCtrl" maxlength="200" placeholder="Comentario"></textarea>
                </mat-form-field>
              </div>            
            </div>
          </form>

          <div class="row mt-3">
            <div class="col-lg-12 text-center">
              <button matStepperPrevious class="btn btn-pill btn-primary btn-sm btn-save-forms mb-1 mb-md-0 mr-1 ml-1">Regresar</button>            
              <button (click)="validarCampos(1)" matStepperNext class="btn btn-pill btn-primary btn-sm btn-save-forms mb-1 mb-md-0 mr-1 ml-1">Siguiente</button>            
            </div>
          </div>

          <div class="row mt-1" style="font-size: 0.7rem; font-weight: bold; float:left;">
            - Cadena fría genera el costo respectivo conforme a tarifa.
          </div>
      </div>
                
    </mat-step>

    <mat-step [completed]="this.model.Documentos.length <= 5" >
    <!-- <mat-step>       -->
      <!-- <ng-template matStepLabel>Subir documentos</ng-template> -->

      <div class="container mt-3">
        <!-- <p>Subir documentos: Guia Master, Guia House, Gafete, Etiquetado</p>   -->
        <p>Subir documentos: {{ DOCUMENTS_REQUIRED[secondFormGroup.get('instruccionesManejoCtrl').value] }}</p>
        
        <div class="row mb-3">                     
          <div class="col-lg-12 mb-4">
            <div ngfDrop selectable="1" multiple="1"
              [(files)]="files"
              accept = ".pdf"       
              maxSize   = "2097152"                                                    
              (filesChange) = "dropInputChange($event)"
              class="my-drop-zone"
            >
            <div class="my-drop-zone__text d-none d-lg-block d-xl-block">Arrastra / Selecciona tus archivos .PDF (Max. 2Mb por archivo)</div>
            <div class="my-drop-zone__icon"><i class="fas fa-cloud-upload-alt"></i></div>            
            </div>                                    
          </div>  

          <div *ngFor="let documento of model.Documentos; let in=index" class="col-xs-2 col-sm-3 col-md-2 col-lg-2">    
            <div (click)="removeDocument(in)" class="file__btn-close"><span>&times;</span></div>
            <div>
              <!-- <div (click)="removeDocument(in)" class="file__btn-close"><span>&times;</span></div> -->
              <!-- <div style="font-size: 3rem; text-align: center"><i class="fas fa-file-pdf"></i></div> -->
              <img class="file__icon file__icon--sm" src="../../../assets/img/iconos/{{Pendiente | fileIconStatusPipe}}" />
              <p style="word-break: break-all; text-align: center" class="detail-text">{{documento.NombreDocumento}}</p>                                                                          
            </div>                                                                      
          </div>                                                
        </div>              
                      
        <div class="row mt-3">
          <div class="col-lg-12 text-center">
            <button matStepperPrevious class="btn btn-pill btn-primary btn-sm mr-4">Regresar</button>            
            <button (click)="guardarFirstForm()" matStepperNext class="btn btn-pill btn-primary btn-sm btn-save-forms mb-1 mb-md-0 mr-1 ml-1 btn-s">Siguiente</button>            
          </div>
        </div>

      </div>          
    </mat-step>

    <mat-step>      
      <!-- <ng-template matStepLabel>Resumen</ng-template> -->

      <div class="container">
        <div class="row">
          <h3>Resumen</h3>
        </div>              
        <div class="row mt-2">
          <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <div class="detail-text font-weight-bold ">Guía Master </div>
            <p class="detail-text">{{model.GuiaMaster}}</p>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <div class="detail-text font-weight-bold">Guía House </div>
            <p class="detail-text">{{model.GuiaHouse}}</p>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
              <div class="detail-text font-weight-bold">Referencia</div>
              <p class="detail-text">{{model.Referencia }}</p>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <div class="detail-text font-weight-bold">Piezas </div>
            <p class="detail-text">{{model.Piezas}}</p>
          </div>

          <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <div class="detail-text font-weight-bold">Peso</div>
            <p class="detail-text">{{model.Peso}} kg.</p>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
              <div class="detail-text font-weight-bold">Fecha de Arribo</div>
              <p class="detail-text">{{model.FechaArribo}}</p>
            </div>
        </div><!-- End Row Inside -->
        <hr class="dividerb">
        <div class="row mt-3">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="detail-text font-weight-bold">Almacén de Origen</div>
            <p class="detail-text">{{almacenOrigenCatalogo | getSelect: model.AlmacenOrigen : 1}} </p>
          </div>

          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="detail-text font-weight-bold">Condición de Almacenaje</div>
              <p class="detail-text">{{condicionesAlmacenesCatalogo | getSelect: model.CondicionAlmacenaje : 2}}</p>
          </div>
          
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="detail-text font-weight-bold">Rango de Temperatura</div>
              <p class="detail-text">{{rangoTemperaturaCatalogo | getSelect: model.RangoTemperatura : 0}}</p>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="detail-text font-weight-bold">Consolidado</div>
              <p class="detail-text">{{model.Consolidado ? 'Sí' : 'No'}}</p>
          </div>
        </div><!-- End Row Inside -->


        <div class="row mt-3">
          
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="detail-text font-weight-bold">Uso de CFDI</div>
              <p class="detail-text">{{usoCFDICatalogo | getSelect: model.UsoCFDI : 2}}</p>
          </div>
          
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="detail-text font-weight-bold">Consignatario</div> 
              <p class="detail-text">{{model.Consignatario}}</p>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="detail-text font-weight-bold">Método de Pago</div>
              <p class="detail-text">{{metodoPagoCatalogo | getSelect: model.MetodoPago : 2}}</p>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="detail-text font-weight-bold">Instrucciones de Manejo</div>
              <p class="detail-text">{{instruccionesManejoCatalogo | getSelect: model.InstruccionesManejo : 1}}</p>
          </div>
        </div><!-- End Row Inside -->                                                

        <hr class="dividerb">
        <div class="row mt-3">
          <div *ngFor="let file of model.Documentos" class="col-xs-2 col-sm-3 col-md-2 col-lg-2">
              <!-- <h1 style="font-size: 3rem; text-align: center"><i class="fas {{file.NombreDocumento | fileIconPipe}}"></i></h1> -->
            <img class="file__icon file__icon--sm" src="../../../assets/img/iconos/{{Pendiente | fileIconStatusPipe}}" />
            <p style="word-break: break-all; text-align: center" class="detail-text">{{file.NombreDocumento}}</p>                                                                                               
          </div>                        
        </div><!-- End Row Inside -->                                                

        <div class="row mt-3">
          <div class="col-lg-12 text-center">
            <button matStepperPrevious class="btn btn-pill btn-primary btn-sm btn-save-forms mb-1 mb-md-0 mr-1 ml-1">Regresar</button>            
            <button (click)="crearPrealerta()" class="btn btn-pill btn-primary btn-sm btn-save-forms mb-1 mb-md-0 mr-1 ml-1">Enviar</button>
          </div>
        </div>
      </div>
                             
    </mat-step>    
  </mat-horizontal-stepper>

  <div *ngIf="successResponse" class="container mt-3">
    <div class="conatiner">
      <div class="row">        
        <div class="col-12 text-center">
          <h3>{{responseMessage}}</h3>
        </div>
        <div class="col-12 text-center mt-5 ">
          <button (click)="closeDialog('true')" class="btn btn-pill btn-primary btn-sm btn-save-forms mb-1 mb-md-0 mr-1 ml-1">Aceptar</button>  
        </div>
      </div>        
    </div>
  </div>

</mat-dialog-content>
<!-- <mat-dialog-actions *ngIf="!successResponse" align="end"> -->
  <!-- <button mat-dialog-close class="btn btn-pill btn-primary">Cancelar</button>   -->
  <!-- <button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
<!-- </mat-dialog-actions> -->