<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<div class="row justify-content-end">  
  <div class="col-lg-2">
    <button (click)="myModal.show()" class="btn btn-ghost-primary"> <i class="fas fa-plus-circle"></i> Crear Previos</button>
  </div>          
</div>
<div class="animated fadeIn">
  <div class="card">   

    <div class="card-body">
      <div class="row mb-3">
        <div class="col-lg-10 mb-1">
          <div class="row">
            <div class="col-lg-3 mb-1">
              <mat-form-field class="input-full-width">
                <!-- <input matInput (keyup)="applyFilter($event.target.value)" type="text" class="form-control" placeholder="Buscar..." />                 -->
                <input matInput type="text" class="" [(ngModel)]="busquedaModel.Master" placeholder="Guía Master"/>
              </mat-form-field>                
            </div>
            <div class="col-lg-3 mb-1">
              <mat-form-field class="input-full-width">
                <input matInput type="text" class="" [(ngModel)]="busquedaModel.House" placeholder="Guía House"/>
              </mat-form-field>
            </div>

            <div class="col-lg-3 mb-1">
              <div class="input-group">                
                <mat-form-field class="input-full-width">
                  <input matInput type="text" class="" #dp="bsDatepicker" bsDatepicker [(ngModel)]="fechaPrevioSearch" placeholder="Fecha Previo">                
                  <!-- <mat-icon matPrefix >event</mat-icon> -->
                </mat-form-field>               
              </div>
            </div>


            <div class="col-lg-3 mb-1">
              <div class="input-group">                
                <mat-form-field class="input-full-width">
                  <input matInput class="" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="rangoFechaSearch" placeholder="Rango de Fecha">
                  <!-- <mat-icon matSuffix>date_range</mat-icon> -->
                </mat-form-field>
              </div>
            </div>            

          </div>
        </div>

        <div class="col-lg-2">
          <button (click)="buscarPrevios()" class="btn btn-pill btn-primary"> <i class="fas fa-search"></i> Buscar</button>
        </div>
      </div>

      <div class="row mb-3" *ngIf="showAdvanceSearch">
        <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-3 mb-1">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" class="" [(ngModel)]="busquedaModel.IdAdelantoPrevio" placeholder="Id Adelanto Previo"/>
                </mat-form-field>
              </div>
              <div class="col-lg-3 mb-1">
                <mat-form-field class="input-full-width">
                  <mat-select [(ngModel)]="busquedaModel.Estatus" class="" placeholder="Estatus" #singleSelect>
                    <mat-option>                      
                      <ngx-mat-select-search [(ngModel)]="estatusSearch" [placeholderLabel]="'Estatus'" [noEntriesFoundLabel]="'No hay coincidencias'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option>Ninguno</mat-option>
                    <!-- <mat-option *ngFor="let option of estatusCatalogo | filterSelect: estatusSearch" [value]="option.IdEstatus">  -->
                    <mat-option *ngFor="let option of estatusCatalogo | filterSelect: estatusSearch" [value]="option.IdEstatus"> 
                      {{option.Descripcion}}
                    </mat-option>
                  </mat-select>                  
                </mat-form-field>

                <!-- <mat-form-field class="input-full-width">                    
                  <input matInput type="text" class="" placeholder="Instrucciones de Manejo" aria-label="Number" [(ngModel)]="instruccionesSearch" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of instruccionesManejoCatalogo | filterSelect: instruccionesSearch" [value]="option"> 
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>  -->
              </div>                            
              <div class="col-lg-3 mb-1">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" class="" [(ngModel)]="busquedaModel.Patente" placeholder="Patente"/>
                </mat-form-field>
              </div>
              <div class="col-lg-3 mb-1">
                <mat-form-field class="input-full-width">  
                  <input matInput type="text" class="" [(ngModel)]="busquedaModel.Referencia" placeholder="Referencia"/>
                </mat-form-field>
              </div>              
            </div>
        </div>
      </div>
<!-- Start Status Filter Bar -->
<div class="row mt-5 mb-3">
    <div class="col-lg-10 offset-lg-1">
      <div class="row">

        <div class="col status-filter">            
          <div class="status-filter__circle status-filter__circle--Aceptada"></div>
            <div class="status-filter__text">
              <label (click)="applyFilter(0)">
                <p><span class="status-filter__number">{{ countStatus.Aceptada }}</span> Aceptada </p>
              </label>
            </div>
        </div> 
        
        <div class="col status-filter">            
          <div class="status-filter__circle status-filter__circle--Solicitada"></div>
            <div class="status-filter__text">
              <label (click)="applyFilter(1)">
                <p><span class="status-filter__number">{{ countStatus.Solicitada }}</span> Solicitada </p>
              </label>
            </div>
        </div>

        <div class="col status-filter">            
          <div class="status-filter__circle status-filter__circle--PAAACESA"></div>
            <div class="status-filter__text">
              <label (click)="applyFilter(2)">
                <p><span class="status-filter__number">{{ countStatus.PAAACESA }}</span> P.AAACESA </p>
              </label>
            </div>
        </div>

        <div class="col status-filter">            
          <div class="status-filter__circle status-filter__circle--PCliente"></div>
            <div class="status-filter__text">
              <label (click)="applyFilter(3)">
                <p><span class="status-filter__number">{{ countStatus.PCliente }}</span> P.Cliente </p>
              </label>
            </div>
        </div>
        
        <div class="col status-filter">            
          <div class="status-filter__circle status-filter__circle--Rechazada"></div>
            <div class="status-filter__text">
              <label (click)="applyFilter(4)">
                <p><span class="status-filter__number">{{ countStatus.Rechazada }}</span> Rechazada </p>
              </label>
            </div>
        </div>

        <div class="col status-filter">            
          <div class="status-filter__circle status-filter__circle--Finalizada"></div>
          <div class="status-filter__text">
            <label (click)="applyFilter(5)" for="finalizadaCheck">
              <p><span class="status-filter__number">{{ countStatus.Finalizada }}</span> Finalizada </p>
            </label>
          </div>
          <!-- <input style="display: none;" id="finalizadaCheck" #finalizadaCheck class="status-filter__check" type="checkbox">               -->
          <!-- {{ filterStatus.Finalizada }} -->
        </div>

        <div class="col status-filter">                          
          <div class="status-filter__text">
            <label (click)="applyFilter(10)" for="todosCheck">
              <p><span class="status-filter__number">{{data.length}}</span> Todos </p>
            </label>
          </div>              
        </div>

      </div>
    </div>
  </div>
  <!-- End Status Filter Bar -->
                 
        
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">                                   
          
            <ng-container matColumnDef="Master">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Guía Master </th>
              <td mat-cell *matCellDef="let element"> {{element.Master}} </td>
            </ng-container>
          
            <ng-container matColumnDef="House">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Guía House </th>
              <td mat-cell *matCellDef="let element"> {{element.House}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Patente">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Patente </th>
              <td mat-cell *matCellDef="let element"> {{element.Patente}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
              <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
            </ng-container>
            
            <ng-container matColumnDef="FechaPrevio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Previo </th>
              <td mat-cell *matCellDef="let element"> {{element.FechaPrevio.split(' ')[0]}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Referencia">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Referencia </th>
              <td mat-cell *matCellDef="let element"> {{element.Referencia}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Etiquetado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Etiquetado </th>
              <td mat-cell *matCellDef="let element"> {{element.Etiquetado ? 'Sí' : 'No'}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Estatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
              <td mat-cell *matCellDef="let element"> 
                <div class="col status-filter">            
                  <div class="status-filter__circle status-filter__circle--{{element.Estatus | statusPipe }}"></div>
                  <div class="status-filter__text">
                    <p> {{ element.Estatus }} </p>
                  </div>
                </div>
              </td>
            </ng-container>
                        
            <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element"> 
                <a (click)="detalleModal.show(); verDetalle(element.IdAdelantoPrevios);" href="javascript: void(0);"><i class="fas fa-plus-circle"></i> Detalle</a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>  

      
    </div>
  </div>
  
    <!-- Modals -->
    <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Nuevo Previo</h4>
              <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="form-group">            
                        <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Referencia"/>
                      </div>                      
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                       <div class="form-group">            
                         <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Guía Master"/>
                       </div>                      
                      <div class="form-group">            
                        <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Guía House"/>
                      </div>      
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <div class="row justify-content-center">
                          <div class="col" style="text-align: right; transform: translateX(-6%);">
                            <h1 style="font-size: 2rem"><i class="fas fa-plane-departure"></i></h1>
                          </div>
                          <div class="col" style="text-align: left; transform: translateX(-1%);">
                            <div class="linebl"></div>
                          </div>
                        </div>
                        <div class="row justify-content-center">
                          <button (click)="myModal2.show(); myModal.hide();"
                            class="btn btn-pill btn-primary">Siguiente</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div><!-- /.modal-body -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


<div bsModal #myModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal2Label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Previo</h4>
        <button type="button" class="close" (click)="myModal2.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row mb-3">
            <div class="col-lg-4">
              <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Nombre Tramitador" />
            </div>
            <div class="col-lg-4">
              <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Apellido Paterno" />
            </div>
            <div class="col-lg-4">
              <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Apellido Materno" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4">
              <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Patente" />
            </div>
            <div class="col-lg-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="col-lg-4">
                  <div class="styled-select">
                      <select class="form-control">
                        <option value="" selected disabled hidden>Método de pago</option>
                        <option value="0">Opcion 0</option>
                        <option value="1">Opcion 1</option>
                        <option value="2">Opcion 2</option>
                      </select>
                    </div> 
                </div>
                <div class="col-lg-4">
                  <div class="styled-select">
                      <select class="form-control">
                        <option value="" selected disabled hidden>Uso de CFDI</option>
                        <option value="0">Opcion 0</option>
                        <option value="1">Opcion 1</option>
                        <option value="2">Opcion 2</option>
                      </select>
                    </div> 
                </div>              
              </div>
  
               <div class="row mb-3">            
                <div class="col-lg-6">
                  <div class="styled-select">
                    <select class="form-control">
                      <option value="" selected disabled hidden>Condiciones de Almacenes</option>
                      <option value="0">Opcion 0</option>
                      <option value="1">Opcion 1</option>
                      <option value="2">Opcion 2</option>
                    </select>
                  </div> 
                </div>
                <div class="col-lg-6">                    
                  <div class="form-control form-group form-check">
                    <label for="consolidado" class="form-check-label">Consolidado</label>
                    <label class="switch switch-pill switch-primary form-switch">                  
                      <input id="consolidado" type="checkbox" class="switch-input" checked>
                      <span class="switch-slider"></span>
                    </label>
                  </div>                
                </div>                          
              </div>
  
              <div class="row mb-3">
                <div class="col-lg-12">
                  <div class="styled-select">
                    <select class="form-control">
                      <option value="" selected disabled hidden>Instrucciones de Manejo</option>
                      <option value="0">Recolección</option>
                      <option value="1">Transferencia</option>
                      <option value="2">Recolección y Transferencia</option>
                    </select>
                  </div> 
                </div>            
              </div>
  
              <div class="row mb-3">
                <div class="col-lg-12">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>            
              </div>
  
              <div class="row justify-content-center">            
                <button (click)="myModal3.show(); myModal2.hide();" class="btn btn-pill btn-primary">Siguiente</button>
              </div>
  
            </div>                        
          </div>         
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
    <div bsModal #myModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Nueva PreAlerta</h4>
              <button type="button" class="close" (click)="myModal3.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Subir documentos</p>
              <div class="row mb-5">       
                <div class="col-lg-2">
                    <img width="100px" class="img-thumbnail" src="http://pngimages.net/sites/default/files/file-png-image-59234.png" alt="doc">              
                </div>
                <div class="col-lg-2">
                    <img width="100px" class="img-thumbnail" src="http://pngimages.net/sites/default/files/file-png-image-59234.png" alt="doc">              
                </div>
                <div class="col-lg-2 align-self-center">
                  <button class="btn btn-ghost-primary"> <i class="fas fa-plus-circle"></i></button>
                </div>
              </div>
              <div class="form-group">  
                <div class="row justify-content-center">
                  <div class="col-lg-2">
                    <button (click)="myModal3.hide(); myModal.show();" class="btn btn-pill btn-primary">Regresar</button>
                  </div>
                  <div class="col-lg-2">
                    <button (click)="myModal3.hide();" class="btn btn-pill btn-primary">Siguiente</button>
                  </div>
                </div>
              </div>                        
            </div>         
        </div>         
      </div><!-- /.modal-body --> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  
    <!-- Modal Detalle -->
      <div bsModal #detalleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
  
              <div class="modal-header">
                <h6 class="modal-title">Detalle Previo {{ detailData.IdAdelantoPrevios }}</h6>
                <button type="button" class="close" (click)="detalleModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                <div class="container">              
                  <div class="row">                

                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <div class="row">
                        <!--  Start left -->
                        <div class="col-sm-8 col-md-8 col-lg-8">    
                          <div class="card">
                            <div class="card-body">
                          <div class="row mb-1">
                            <div class="col-sm-4 col-md-4 col-lg-4">

                              <div class="row">
                                <div class="col">
                                  <h5 class="detail-text">No. Master </h5>
                                  <p class="detail-text">{{detailData.Master}}</p>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col">
                                  <h5 class="detail-text">No. House </h5>
                                  <p class="detail-text">{{detailData.House}}</p>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col">
                                  <h5 class="detail-text">Patente </h5>
                                  <p class="detail-text">{{detailData.Patente}}</p>
                                </div>
                              </div>
                              
                              <div class="row">
                                <div class="col">
                                  <h5 class="detail-text">Fecha y hora previo </h5>
                                  <p class="detail-text">{{detailData.FechaPrevio }}</p>
                                </div>
                              </div>

                            </div>
                          
                            <div class="col-sm-8 col-mf-8 col-lg-8">
                              <div class="row">
                                  <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="referencia">
                                      <h5 class="detail-text">Referencia: {{detailData.Referencia}}</h5>
                                    </div>
                                  </div>
                              </div>

                              <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">

                                  <div class="row">
                                    <div class="col">
                                      <h5 class="detail-text">Nombre Completo </h5>
                                      <p class="detail-text">{{detailData.Nombre}}</p>    
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col">
                                      <h5 class="detail-text">Piezas </h5>
                                      <p class="detail-text">{{detailData.Piezas}}</p>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col">
                                      <h5 class="detail-text">Etiquetado </h5>
                                      <p class="detail-text">{{detailData.Etiquetado ? 'Sí' : 'No'}}</p>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                  <div class="row">
                                    <div class="col">
                                      <h5 class="detail-text">No. Gafete </h5>
                                      <p class="detail-text">{{detailData.NumGafete}}</p>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col">
                                      <h5 class="detail-text">Peso </h5>
                                      <p class="detail-text">{{detailData.Peso}} Kg</p>
                                    </div>
                                  </div>                                 
                                </div>
                              </div>
                            </div>
                          </div>

                          <hr class="dividerb">

                          <div class="row mb-1" style="text-align: center;">
                            <!-- <div class="col-sm-12 col-md-12 col-lg-12"> -->
                              
                              <!-- <div class="row"> -->
                                <div *ngFor="let documento of detailData.Documentos">
                                  <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12 status-filter">            
                                          <div class="status-filter__circle status-filter__circle--{{documento.Estatus | statusPipe }}"></div>
                                          <div class="status-filter__text"><p> {{documento.Estatus}} </p></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                      <div (click)="openDocument(documento.IdDocumento)" class="col">                                      
                                          <h1 style="font-size: 5rem"><i class="fas {{documento.NombreDocumento | fileIconPipe}}"></i></h1>
                                          <p>{{documento.NombreDocumento}}</p>                                                                                    
                                      </div>
                                    </div>
                                  </div>  
                                </div>                                                                                                              
                              <!-- </div> -->

                            <!-- </div> -->
                          </div>
                          </div> <!-- card-body -->                
                        </div> <!-- card -->                
                        </div>
                        <!--  End left -->
              
                        <!-- Start Rigth -->
                        <div class="col-sm-4 col-md-4 col-lg-4 card">

                          <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                              <h6>Estado</h6>
                              <h5 class="detail-text">Fecha de Solicitud</h5>
                              <p class="detail-text">{{detailData.FechaSolicitud}}</p>
                              <hr class="dividerb">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                              <h6>Previo</h6>

                              <textarea class="form-control" rows="2" placeholder="Comentario" style="margin-bottom: 1em;"></textarea>                       
                              <div class="row justify-content-end">
                                <div class="col-lg-6 mb-2">
                                  <label for="file-multiple-input">
                                    <div class="btn btn-pill btn-primary">Subir Documento</div>
                                  </label>
                                  <input style="display: none;" id="file-multiple-input" multiple="" name="file-multiple-input" type="file">
                                </div>
      
                                <div class="col-lg-3 mb-2">
                                  <button class="btn btn-pill btn-primary">Enviar</button>
                                </div>
                              </div>                          
                            </div>
                          </div>

                          <!-- Seguimiento -->
                          <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 mb-3">                                                            
                              <mat-accordion>

                                <mat-expansion-panel *ngFor="let item of detailData.Seguimiento?.slice().reverse()">
                                  <mat-expansion-panel-header>
                                    <div class="col status-filter">            
                                      <div class="status-filter__circle status-filter__circle--{{item.Estatus | statusPipe }}"></div>
                                      <div class="status-filter__text"><p> {{item.Estatus}} </p></div>
                                      <p class="detail-text" style="display: inline; padding-left: 5px;">{{item.Fecha.split(' ')[0] }}</p>
                                    </div>                                      
                                  </mat-expansion-panel-header>
                                  {{item.Comentarios}}
                                </mat-expansion-panel>

                              </mat-accordion>                                
                            </div>
                          </div>
                        </div>
                        <!--  End Rigth -->
  
                  </div>
                </div>
                <!--  End left -->



                <!-- Start Rigth -->
                <div class="col-sm-4 col-md-4 col-lg-4 cardborder">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <h6>Estado</h6>
                      <h5 class="detail-text">Fecha de Solicitud</h5>
                      <p class="detail-text">{{detailData.prevDate | date: 'dd/MM/yy'}}</p>
                      <hr class="dividerb">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                      <h6>Previo</h6>
                      <textarea class="form-control" rows="2" placeholder="Comentario"
                        style="margin-bottom: 1em;"></textarea>
                      <div class="row justify-content-end">
                        <div class="col-lg-6 mb-2">
                          <label for="file-multiple-input">
                            <div class="btn btn-pill btn-primary">Subir Documento</div>
                          </label>
                          <input style="display: none;" id="file-multiple-input" multiple="" name="file-multiple-input"
                            type="file">
                        </div>

                        <div class="col-lg-3 mb-2">
                            <button [disabled]="" (click)="detalleM.hide(); graciasM.show();" class="btn btn-pill btn-primary">Enviar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                      <!-- Inicio Acordeon -->
                      <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <div class="col status-filter">
                              <div
                                class="status-filter__circle status-filter__circle--{{detailData.status | statusPipe }}">
                              </div>
                              <div class="status-filter__text">
                                <p> {{detailData.status}} </p>
                              </div>
                              <p class="detail-text" style="display: inline; padding-left: 5px;">
                                {{detailData.prevDate | date: 'dd/MM/yy'}}</p>
                            </div>
                          </mat-expansion-panel-header>

                          Documentos Aprobados

                        </mat-expansion-panel>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <div class="col status-filter">
                              <div
                                class="status-filter__circle status-filter__circle--{{detailData.status | statusPipe }}">
                              </div>
                              <div class="status-filter__text">
                                <p> {{detailData.status}} </p>
                              </div>
                              <p class="detail-text" style="display: inline; padding-left: 5px;">
                                {{detailData.prevDate | date: 'dd/MM/yy'}}</p>
                            </div>
                          </mat-expansion-panel-header>

                          Documentos Aprobados

                        </mat-expansion-panel>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <div class="col status-filter">
                              <div
                                class="status-filter__circle status-filter__circle--{{detailData.status | statusPipe }}">
                              </div>
                              <div class="status-filter__text">
                                <p> {{detailData.status}} </p>
                              </div>
                              <p class="detail-text" style="display: inline; padding-left: 5px;">
                                {{detailData.prevDate | date: 'dd/MM/yy'}}</p>
                            </div>
                          </mat-expansion-panel-header>

                          Documentos Aprobados

                        </mat-expansion-panel>
                      </mat-accordion>
                      <!-- Fin Acordeon -->
                    </div>
                  </div>
                </div>
                <!--  End Rigth -->

              </div>
            </div>

          </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div bsModal #graciasM="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="graciasMLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          
          <button type="button" class="close" (click)="graciasM.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12">
                <div style="text-align: center; margin-bottom: 5%;">
                  Gracias <br>
                  Tus datos fueron actualizados.
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.modal-body -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
              </div>                                                  
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        