.dropup .dropdown-menu {
    transform: none!important;
  }
  
table{
    font-size:  0.75em;
}
.table th, .table td {
    border-top: 1px solid #646880;
    color: #b8bcd6;
}
.table thead th {
    border-bottom: 2px solid #646880;
    border-top: none;
    color: #ffffff;
}
.page-item.active .page-link {
    background-color: #ed0e19 !important;
    border-color: #ed0e19 !important;
    border-radius: 100% !important;
    color: #ffffff;
}
.page-link{
    border-radius: 100% !important;
}

.iconfilt{
    padding-top: 0%;
    padding-left: 5%;
    font-size: 1.3em !important;
    color: #b8bcd6;
    transform: translateY(27%);
}
.bs-datepicker {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    background: #fff;
    box-shadow: 0 0 10px 0 #aaa;
    position: relative;
    z-index: 1;
}

.form-control {
    font-size: 0.75em;   
}

// .input-group-text {
// }

.buscar-icon{
    -webkit-box-shadow: 7px 7px 3px 0px rgba(25, 28, 55, 0.904);
    -moz-box-shadow: 7px 7px 3px 0px rgba(25, 28, 55, 0.904);
    box-shadow: 7px 7px 3px 0px rgba(25, 28, 55, 0.904);
    background: #191c37;
    border: none; 
}
.buscar-place{
    -webkit-box-shadow: 7px 7px 3px 0px rgba(25, 28, 55, 0.904);
    -moz-box-shadow: 7px 7px 3px 0px rgba(25, 28, 55, 0.904);
    box-shadow: 7px 7px 3px 0px rgba(25, 28, 55, 0.904);
    background: #191c37;
    border: none;
}

// .btn{
//     line-height: 0;
//     font-size: small;
//     padding: 0;
//     border: none;
//     display: flex;
// }
// .btn-outline-light {
//     color: #b0b0b0;
// }