<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<!-- <p>
  abandono works!
</p> -->
<div class="animated fadeIn">
  <div class="card">
    <!-- <div class="card-header">
      DataTable
      <a href="https://coreui.io/pro/angular/" class="badge badge-danger ml-2">CoreUI Pro Component</a>
    </div> -->
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-8">
            <div class="row">
              <div class="col-sm-3">
                  <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Guía Master"/>
              </div>
              <div class="col-sm-3">
                  <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Guía House"/>
              </div>
              <div class="col-sm-4 form-group">
                  <div class="input-group">
                      <div class="input-group-prepend">
                         <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                      </div>
                      <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue" placeholder="Rango de fecha">
                    </div>
              </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="BUSCAR"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
      <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th class="text-center" style="width: 20%">
              <mfDefaultSorter by="masterguide">Guía Master <span class="iconfilt"><i class="material-icons">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 20%">
              <mfDefaultSorter by="houseguide">Guía House <span class="iconfilt"><i class="material-icons">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 20%">
              <mfDefaultSorter by="patente">Patente <span class="iconfilt"><i class="material-icons">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 20%">
              <mfDefaultSorter by="name">Nombre Completo <span class="iconfilt"><i class="material-icons">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 20%">
              <mfDefaultSorter by="prevDate">Fecha Previo <span class="iconfilt"><i class="material-icons">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 20%">
              <mfDefaultSorter by="reference">Referencia <span class="iconfilt"><i class="material-icons">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 20%">
              <mfDefaultSorter by="etiqueta">Etiquetado <span class="iconfilt"><i class="material-icons">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 20%">
              <mfDefaultSorter by="status">Estatus <span class="iconfilt"><i class="material-icons">filter_list</i></span> </mfDefaultSorter>
            </th>
            <th class="text-center" style="width: 20%">
              <mfDefaultSorter by="">Acciones <span class="iconfilt"><i class="material-icons">filter_list</i></span> </mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <!-- <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td class="text-right">{{item.age}}</td>
            <td>{{item.city | uppercase}}</td> -->
            <td class="text-center">{{item.masterguide}}</td>
            <td class="text-center">{{item.houseguide}}</td>
            <td class="text-center">{{item.patente}}</td>
            <td class="text-center">{{item.name}}</td>
            <td class="text-center">{{item.prevDate}}</td>
            <td class="text-center">{{item.reference}</td>
            <td class="text-center">{{item.etiqueta}}</td>
            <td class="text-center">{{item.status}}</td>
            <td class="text-center">
              <a class="btn btn-success" href="#">
                <i class="fa fa-search-plus"></i>
              </a>
              <a class="btn btn-info" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
    
</div>
</div>
