// Here you can add other styles
.app-header{
    background-color: #30376A;
    z-index: 1000;
    height: 68px;
    border-bottom: none;
    box-shadow: 0 5px 5px #282c52; 
    color: #FFF;
}
.app-header .navbar-brand {
    width: 150px;
    height: 55px;
}
.header-fixed .app-header {
    z-index: 1000;
}

.header-fixed .app-body {
    margin-top: 68px;
}

//sidebar
.sidebar{
    background-color: #212649;
    z-index: 1020;
    width: 100px !important;
}
.sidebar-fixed .sidebar {
    z-index: 1020;
    width: 100px;
}
.sidebar .nav-link {
    display: flow-root;
    padding: 0.5rem 0.25rem;
    text-align: center;
    width: 100px;
    font-size: 0.75rem;
}
.sidebar .nav-link.active{
    color: #ffffff;
    background: #131529 ;
}
.sidebar .nav-link:hover {
    color: #fff;
    background: #30376A;
}
.sidebar .nav-link .nav-icon {
    display: flow-root;
    font-size: 1.5rem;
    width: 3.25rem;
    margin: 0 0 0 1.25rem;
}
.sidebar .nav-link.active .nav-icon {
    color: #ffffff;
}

//breadcrum
.breadcrumb {
    border-bottom: none;
}
.breadcrumb-item.active{
    font-weight: bolder;
}

//Table
table{
    font-size:  0.9em;
}
.table th, .table td {
    border-top: 1px solid #646880;
    color: #212649;
}
.table thead th {
    border-bottom: 2px solid #646880;
    border-top: none;
    color: #212649;
}


//datepicker
.bs-datepicker {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    background: #fff;
    box-shadow: 0 0 10px 0 #aaa;
    position: relative;
    z-index: 1;
}

//customButtons
.btn-prealerta {
    background: transparent;
    border-radius: 50px;
    margin: 2px 2px;
    color: white;
    padding: 2px 10px;
}

.btn-circle {
    border-radius: 50%;
    margin-right: 5px;
}

.u-color-primary {
    //TODO change to var $color-primary
    color: #FB600A;
}


// Font size fixes
.card {
    font-size: 0.8rem;
}
.form-control {
    font-size: 0.8rem;
}
.u-small-text  {
    font-size: 0.8rem !important;
}
.detail-text {
    font-size: 0.8rem !important;
    line-height: 1rem;
}


// Fix position for swtich input
.form-switch {
    position: absolute;
    right: 0.5rem;
}

//Modals
.modal { 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// File X (remove) button
.file__btn-close {
    text-align: right;
    font-size: 2rem;    
    cursor:pointer;
}

// Input type="" Fixes
.no-spinners {
    -moz-appearance:textfield;
} 
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Select Input */
.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;    
    overflow: hidden;    

    & select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}  

/* Status Filters Bar */
.status-filter {    
    position: relative;    
    font-size: .8rem;    

    &:not(:last-child) {
        border-right: 2px solid white;  
    }    

    &__number {
        font-weight: bold;
    }

    &__text {
        display: inline-block;
    }    

    &__check {        
        margin-left: .5rem;
    }   

    &__circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;                       
        margin-right: 10px;
        background-color: white;

        &--Aceptada {
            background-color: #2ee836;
        }

        &--Solicitada {
            background-color: #18EDED;            
        }

        &--PAAACESA{
            background-color: #fff500;
        }
        &--PCliente{
            background-color: #ef5500;
        }
        &--Rechazada{
            background-color: #ff0000;
        }
        &--Finalizada{
            background-color: #596df2;
        }
        &--Cancelada{
            background-color: #ff0000;
        }
    }
}

.ellipsis {
    text-overflow: ellipsis;
  
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }