// Here you can add other styles
.app-header{
    background-color: #183964;
    z-index: 999;
    height: 68px;
    border-bottom: none;
    box-shadow: 0 5px 5px #282c52; 
    color: #FFF;
}
.app-header .navbar-brand {
    width: 150px;
    height: 55px;
}
.header-fixed .app-header {
    z-index: 999;
}

.header-fixed .app-body {
    margin-top: 68px;
}

//sidebar
.sidebar{
    background-color: #183964;
    z-index: 998;
    width: 100px !important;
    border-right: none;
}
.sidebar-fixed .sidebar {
    z-index: 998;
    width: 100px;
}
.sidebar .nav-link {
    display: flow-root;
    padding: 0.5rem 0.25rem;
    text-align: center;
    width: 100px;
    font-size: 0.75rem;
}
.sidebar-show .main::before, .aside-menu-show .main::before {
    z-index: 997 !important;
}
.sidebar .nav-link.active{
    color: #ffffff;
    background: #131529 ;
}
.sidebar .nav-link:hover {
    color: #fff;
    background: #30376A;
}
.sidebar .nav-link .nav-icon {
    display: flow-root;
    font-size: 1.5rem;
    width: 3.25rem;
    margin: 0 0 0 1.25rem;
}
.sidebar .nav-link.active .nav-icon {
    color: #ffffff;
}

//footer-container
.app-footer{
    // margin-left: 0px!important;
    border: none !important;
    z-index: 998;
}

.footer-container{
    font-size:  x-small;
    line-height: 95%;
    text-align: justify;
    color: #B2B3C0;
    .texto{
        font-size: small;
        line-height: normal;
    }
}

//Botones forms
.btn-save-forms{
    width: 80px;
}
.modal {
    z-index: 1000;
}
.modal-backdrop {
    z-index: 999;
}

ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}
.link-footer{
    color: #B2B3C0;
    :hover{
        color: #596df2!important;
        text-decoration: underline #596df2;
    }
}

//dropdown
.dropdown-header {
    background: #183964!important;
}

//breadcrum
.breadcrumb {
    border-bottom: none;
}
.breadcrumb-item.active{
    font-weight: bolder;
}

//Table
table{
    font-size:  0.9em;
}
.table th, .table td {
    border-top: 1px solid #183964;
    color: #183964;
}
.table thead th {
    border-bottom: 2px solid #183964;
    border-top: none;
    color: #183964;
}

//Mat Table
.mat-header-cell {
    color: #183964;
    font-weight: bold;
}
.mat-cell, .mat-footer-cell {
    color: #183964;    
}
td.mat-cell{
    padding-right: 24px !important;
}


//switch
.switch-outline-secondary .switch-input:checked + .switch-slider {
    background-color: transparent !important;
}
.switch-outline-secondary .switch-input + .switch-slider {
    background-color: transparent !important;
    border-color: #4C58A9;
}
.switch-slider::before {
    border-color: #4C58A9;
}
.switch-label .switch-slider::after{
    color: #4C58A9;
}
//Mat Dialog
.mat-dialog-container {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    color: #183964 ;
}
.mat-body, .mat-body-1, .mat-typography{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
}
.mat-dialog-content {
    max-height: 80vh !important;
}
.mat-horizontal-stepper-header-container {
    margin-top: -1.5rem !important; 
    height: 4rem;
}
.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
    background-color: transparent;
}
.mat-horizontal-stepper-header{
    pointer-events: none !important;
}


//datepicker
.bs-datepicker {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    background: #fff;
    box-shadow: 0 0 10px 0 #aaa;
    position: relative;
    z-index: 1;
}

//customButtons
.btn-crear {
    margin-top: -3rem;
    margin-bottom: 1rem;
}

.btn-circle {
    border-radius: 50%;
    margin-right: 5px;
}

.u-color-primary {
    //TODO change to var $color-primary
    color: #D31E28;
}
.u-cursor {
    cursor: pointer;
}

// Font size fixes
.card {
    font-size: 0.8rem;
}
.form-control {
    font-size: 0.8rem;
}
.u-small-text  {
    font-size: 0.8rem !important;
}
.detail-text {
    font-size: 0.8rem !important;
    line-height: 1rem;
}


// Fix position for swtich input
.form-switch {
    position: absolute;
    right: 0.5rem;
}

//Modals
.modal { 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// File X (remove) button
.file__btn-close {
    // text-align: right;
    font-size: 2rem;    
    cursor:pointer;
    height: 1rem;
    position: absolute;
    right: 0;
    top: -1rem; // Half of font-size
}
.file__icon {
    width: 5rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 50%;
    cursor: pointer;

    &--sm {
        cursor: auto;
        width: 4rem;
        padding-right: .1rem;
    }

    &--xs {
        cursor: auto;
        width: 3rem;
        padding-right: .1rem;
    }
}

// Input type="" Fixes
.no-spinners {
    -moz-appearance:textfield;
} 
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Detalle
.referencia{
    color: #212649;
    // display: inline-block;
    text-align: left;
    vertical-align: middle;    
    background-color: transparent;
    border-bottom: 1px solid #212649;    
    margin: 1em;    
    width: 80%;
}

/*DragInputFiles  */
.my-drop-zone { 
    border: dotted 3px lightgray; 
    height: 100px;
    background-color: #f5f5f5;
    // background-image: url("../assets/img/iconos/upload.png");
    // background-size: 4rem;
    // background-repeat: no-repeat;
    // background-position: center
    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 3rem;
        transform: translate(-50%, -50%);
    }

    &__text {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0%);
    }
}      
   

/* Status Filters Bar */
.status-filter {    
    position: relative;    
    font-size: .8rem;    

    // &:not(:last-child) {
    //     border-right: 2px solid #183964;  
    // }    

    &--active {
        border-bottom: solid 3px #183964;
        font-weight: bold;
    }

    &__number {
        font-weight: bold;
    }

    &__text {
        display: inline-block;
    }    

    &__check {        
        margin-left: .5rem;
    }   

    &__circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;                       
        margin-right: 10px;
        background-color: white;

        &--mr-sm {
            margin-right: 5px;
        }

        &--Aceptada {
            background-color: #21a2dc;            
        }

        &--Solicitada {
            background-color: #ecd914;            
        }

        &--PendienteAAACESA{
            background-color: #e0750c;
        }
        &--PendienteCliente{
            background-color: rgba(255,255,255,0.7);
            border: solid 1px black;
        }        
        &--Rechazada{
            background-color: #ce0f0f;
        }
        &--Finalizada{
            background-color: #24c327;
        }
        &--Cancelada{
            background-color: #000000;
        }
        &--Pendiente {
            background-color: #fff500;
        }
        &--Prealerta{
            background-color: #CBC30B;
        }
        &--Recoleccion{
            background-color: #63C2DE;
        }
        &--DocumentosDisponibles{
            background-color: #5894CC;
        }
        &--CargaDisponible{
            background-color: #B2B2B2;
        }
    }
}

.ellipsis {
    text-overflow: ellipsis;
  
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

@import "node_modules/bootstrap/scss/mixins/_breakpoints";
/* Floating Btn Calculator */
.floating {
    &__btn {
        position: fixed;
        // right: 1.1rem;
        right: 0;
        top: 47%;
        color: white;
        padding: .5rem 1rem;
        background-color: #183964;
        border-radius: 20px 0px 0px 20px;
        font-size: 2rem;
        cursor: pointer;
        
        @include media-breakpoint-down(md) {
            display: none;
        }
    }   

    &__panel {
        position: fixed;
        right: 0;
        top: 47%;                                        
        width: 85vw;
        height: 80vh;
        overflow-y: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 1px #9EA6B1;
        background-color: white;
        transform: translate(100%, -40%);
        transition: all .5s; 
        
        @include media-breakpoint-down(md) {
            display: none;
        }
    }    

    &__panel--active {
        transform: translate(0%, -40%);
    }
}