// Variable overrides
// Generales
$body-bg:    #F9F9F9;
$body-color:  	#173864;
$font-size-base: 1rem;
$sidebar-width: 100px;

// Breadcrumb
$breadcrumb-active-color: #D31E28;
$breadcrumb-bg: transparent;
$breadcrumb-divider: none;

//Modals
$modal-content-bg: #FFFF;
$modal-content-border-color: #FFFF;
$modal-header-border-color: #FFFF;
$modal-footer-border-color: #FFFF;
// $modal-dialog-margin-y-sm-up: 15rem;

//Forms
$input-bg: transparent;
$input-color: #173864;
// $input-border-color: #646880;
// $input-border-radius: 15px;
$input-placeholder-color: #646880;
$input-focus-border-color:#B2B3C0;
$input-focus-box-shadow: #B2B3C0;
$input-disabled-bg: transparent;
$input-group-addon-bg: transparent;
$input-group-addon-color:#646880;


//Dropdowns
$dropdown-bg: #173864;
$dropdown-border-color: none;
$dropdown-divider-bg:#646880;
$dropdown-header-color: #FFFF;
$dropdown-link-hover-bg:#131529;
$dropdown-link-active-bg:#131529;
$dropdown-link-active-color:#646880;

//Footer
$footer-bg: #173864;
$footer-color: #FFFF;
$footer-height: 60px;


$theme-colors:(
    primary: #173864,
    secondary: #4C58A9,
    succes: #0AA010,
    info: #18EDED,
    warning: #E2DA0C,
    danger: #D31E28,
    links:#131529
);
