// Variable overrides
// Generales
$body-bg:    #FFFF;
$body-color:  	#212649;
$font-size-base: 1rem;
$sidebar-width: 100px;

// Breadcrumb
$breadcrumb-active-color: #D00A2A;
$breadcrumb-bg: transparent;
$breadcrumb-divider: none;

//Modals
$modal-content-bg: #FFFF;
$modal-content-border-color: #FFFF;
$modal-header-border-color: #FFFF;
$modal-footer-border-color: #FFFF;
// $modal-dialog-margin-y-sm-up: 15rem;

//Forms
$input-bg: transparent;
$input-color: #191C37;
// $input-border-color: #646880;
// $input-border-radius: 15px;
$input-placeholder-color: #646880;
$input-focus-border-color:#B2B3C0;
$input-focus-box-shadow: #B2B3C0;
 $input-disabled-bg: transparent;
$input-group-addon-bg: transparent;
$input-group-addon-color:#646880;


//Dropdowns
$dropdown-bg: #191C37;
$dropdown-border-color: none;
$dropdown-divider-bg: #191C37;
$dropdown-link-hover-bg:#212649;

$dropdown-header-color: #191C37;

//table
$table-head-color: #646880;
$table-dark-bg: #646880;


$theme-colors:(
    primary: #FB600A,
    secondary: #4C58A9,
    succes: #0AA010,
    info: #18EDED,
    warning: #E2DA0C,
    danger: #CB1630,
    link:#183964
);
