// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
// If you are going to use dark layout please comment next line
//@import "node_modules/@coreui/coreui-pro/scss/coreui";

// Import styles with dark layout
// If you want to use dark layout uncomment next line
@import "node_modules/@coreui/coreui-pro/scss/themes/dark/coreui-dark";

// If you want to add something do it here
@import "custom";

/*
 * Component: Info Box
 * -------------------
 */
.info-box {
  display: block;
  min-height: 130px;
  background: #212649;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  margin-bottom: 15px;
}

small {
  font-size: 14px;
}

.progress {
  background: rgba(0, 0, 0, .2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: right;
  height: 130px;
  width: 15px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}

.info-box-content {
  padding: 20px 30px 10px 30px;
}

.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 40px;
}

.progress-description,
.info-box-text {
  display: block;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-text {
  text-transform: none;
}

.info-box-more {
  display: block;
}

.progress-description {
  margin: 0;
}

//Cards
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  color: #212649;
  background-color: #FFF;
  // background-clip: border-box;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 1px #9EA6B1;
  -moz-box-shadow: 0px 0px 10px 1px #9EA6B1;
  box-shadow: 0px 0px 10px 1px #9EA6B1; 
  border-radius: 5px;
}

.card-header {
  padding: 1rem 1rem;
  margin-bottom: 0;
  background-color: #FFF;
  border-bottom: none;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem;
}

//Links
.page-item.active .page-link {
  background-color: #CD0428 !important;
  border-color: none !important;
  border-radius: 100% !important;
  color: #FFF;
}
.page-item .page-link {
  border-radius: 100% !important;
  background-color: transparent;
  color: #212649;
  border-color: #FFF !important;
}
.page-item .page-link:hover {
  color: #FFF !important;
  background-color: #212649;
  border-color: none !important;
  
}
// .page-link{
//   border-radius: 100% !important;
// }
.page-item.disabled .page-link{
  border-radius: 0;
  background: none;
  border: none;
  color: #191c37;
}

//paginador


.pagination li a {
  background-color:#212649;
}


.lastfirst{
  border-radius: 0;
  background: none;
  border: none;
}
.lastfirst:active{
  border-radius: 0;
  background: none;
  border: none;
}
.lastfirst:hover{
  border-radius: 0;
  background: none;
  border: none;
}

.lastfirst{
  border-radius: 0;
  background: none !important;
  border: none;
  color: #303666;
}

.page-item.disabled .page-link{
  border-radius: 0;
  background: none;
  border: none;
}

.input-full-width {
  width: 100%;
}

table {
  width: 100%;
}
